<!DOCTYPE html>

    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- Swiper -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <div>
        <div class="main-header-wrap">
            <div class="header-main1">
                <div class="inner">
                    <div class="logo-box">
                        <h1 class="logo1">
                            <a href="/adminIndex">책키라웃</a>
                        </h1>
                    </div>
                    <div class="search">
                        <input type="text" name="search">
                        <button class="search-btn" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="lnb">
                        <ul>
                            <li>
                                <a href="#">관리자</a>
                            </li>
                            <li>
                                <a href="#">비밀번호 변경</a>
                            </li>
                            <li>
                                <a href="#">로그아웃</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="nav1">
        		<div class="icons-menu">
        		       <ul>
                            <li>
                              <a href="#">아이콘1</a>
                            </li>
                            <li>
                                <a href="#">아이콘2</a>
                            </li>
                            <li>
                                <a href="#">아이콘3</a>
                           </li>
                       </ul>
        		</div>
        		<div class="admin-menu">
        		       <ul>
                            <li>
                              <a href="#">판매점 관리</a>
                              	<ul class="sub-menu">
                              		<li><a href="#">판매점 리스트</a></li>
									<li><a href="#">판매점 등록</a></li>
									<li><a href="#">판매점 비밀번호 수정</a></li>
							  	</ul>
                            </li>
                            <li>
                                <a href="#">책 관리</a>
                                 <ul class="sub-menu">
                                    <li><a href="#">책 리스트</a></li>
									<li><a href="#">책 등록</a></li>
									<li><a href="#">책 정보 수정</a></li>
							  	 </ul>
                            </li>
                            <li>
                                <a href="#">1대1 문의</a>
                           </li>
                           <li>
                                <a href="#">챗봇</a>
                           </li>
                           
                       </ul>
        		</div>
            </div>
    </div>