<!DOCTYPE html>
	<chatbot>
		<script>
    
  	(function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  	ChannelIO('boot', {
  		/* let memberId = [[${session.member.memberId}]];
		let memberName = [[${session.member.memberName}]]; */
  		
		"pluginKey": "f90885e5-1420-456f-aacf-72c22269eed4", // fill your plugin key
		"appearance" : "dark",
		"memberId": "[[${session.member.memberId}]]", // fill user's member id
		"profile": { // fill user's profile
		"name": "[[${session.member.memberName}]]", // fill user's name
		"mobileNumber": "[[${session.member.memberPhone}]]", // fill user's mobile number
		}
		
	});
	</script>
	</chatbot>