<!DOCTYPE html>
    <footer>
        <div class="main-footer-wrap">
            <div class="footer-main">
                <div class="inner">
                    <div class="logo-box">
                        <h1 class="logo">
                            <a href="#">책키라웃</a>
                        </h1>
                    </div>
                    <div class="info">
                        <h2>(주)책키라웃</h2>
                        <p>대표자 : 책키원 | 주소 : 07212 서울특별시 영등포구 선유동2로 57 이레빌딩</p>
                        <p>전화 : 02-123-4567 | 이메일 : <a href="mailto:bookitout@gmail.com">bookitout@gmail.com</a></p>
                        <p>사업자등록번호 : 001-01-00001 | 통신판매업 신고 : 2024-서울영등-0001호</p>
                    </div>
                    <div class="customer">
                        <h2>고객센터 1234-1234</h2>
                        <ul>
                            <li>
                                <a href="/Question/writeQuestionFrm">
                                    1 : 1 문의
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angles-right"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/FAQ/faqfrm?type=1&reqPage=1">
                                   	 자주 묻는 질문
                                    <span><i class="fa-solid fa-angles-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="inner">
                    <h4>COPYRIGHT &copy;책키라웃 ALL RIGHTS RESERVED.</h4>
                </div>
            </div>
        </div>
    </footer>
        
    <div id="scroll-btn">
        <button id="top-btn">
            <i style="--fa-bounce-start-scale-x: 1;--fa-bounce-start-scale-y: 1;--fa-bounce-jump-scale-x: 1;--fa-bounce-jump-scale-y: 1;--fa-bounce-land-scale-x: 1;--fa-bounce-land-scale-y: 1;--fa-bounce-rebound: 0;" class="fa-solid fa-angles-up fa-bounce"></i>
        </button>
    </div>
	
    <script src="/js/main.js"></script>
    <script>
  		(function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  		ChannelIO('boot', {
	  		"pluginKey": "f90885e5-1420-456f-aacf-72c22269eed4", // fill your plugin key
	  		"appearance" : "dark"
		});

	</script>