<!DOCTYPE html>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- Swiper -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.js"></script>
    <header>
        <div class="main-header-wrap">
            <div class="header-main">
                <div class="inner">
                    <div class="logo-box">
                        <h1 class="logo">
                            <a href="/">책키라웃</a>
                        </h1>
                    </div>
                    <div class="search">
                        <input type="text" name="search">
                        <button class="search-btn" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="lnb">
                    <th:block th:if="${session.member == null and session.admin == null}">
                        <ul>
                            <li>
                                <a href="#">장바구니</a>
                            </li>
                            <li>
                                <a href="/member/joinFrm">회원가입</a>
                            </li>
                            <li>
                                <a href="/member/loginFrm">로그인</a>
                            </li>
                        </ul>
                        </th:block>
                        <th:block th:if="${session.member!=null}">
                        <ul>
                            <li>
                                <a href="#">장바구니</a>
                            </li>
                            <li>
                                <a href="/myPage/myPage" th:text="${session.member.memberName}"></a>
                            </li>
                            <li>
                                <a href="/member/logout">로그아웃</a>
                            </li>
                        </ul>
                        </th:block>
                        <th:block th:if="${session.admin!=null}">
                        <ul>
                            <li>
                                <a href="#">장바구니</a>
                            </li>
                            <li>
                                <a href="/admin/myPage" th:text="${session.admin.adminName}"></a>
                            </li>
                            <li>
                                <a href="/admin/logout">로그아웃</a>
                            </li>
                        </ul>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="nav">
                <div class="inner">
                    <div class="gnb">
                        <ul>
                            <li><a href="#">menu1</a></li>
                            <li><a href="#">menu2</a></li>
                            <li><a href="#">menu3</a></li>
                            <li><a href="#">menu4</a></li>
                            <li><a href="#">menu5</a></li>
                            <li><a href="#">menu6</a></li>
                            <li><a href="#">menu7</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>