<!DOCTYPE html>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- Swiper -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <header>
        <div class="main-header-wrap">
            <div class="header-main">
                <div class="inner">
                    <div class="logo-box">
                        <h1 class="logo">
                            <a href="#">책키라웃</a>
                        </h1>
                    </div>
                    <div class="search">
                        <input type="text" name="search">
                        <button class="search-btn" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="lnb">
                        <ul>
                            <li>
                                <a href="#">장바구니</a>
                            </li>
                            <li>
                                <a href="#">회원가입</a>
                            </li>
                            <li>
                                <a href="#">로그인</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="nav">
                <div class="inner">
                    <div class="gnb">
                        <ul>
                            <li><a href="#">menu1</a></li>
                            <li><a href="#">menu2</a></li>
                            <li><a href="#">menu3</a></li>
                            <li><a href="#">menu4</a></li>
                            <li><a href="#">menu5</a></li>
                            <li><a href="#">menu6</a></li>
                            <li><a href="#">menu7</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>