<!DOCTYPE html>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <style>
    button.cart {
        background: none;
        border: none;
        font-size: 17px;
        cursor: pointer;
        padding: 0;
        text-decoration: none;
    }
    </style>

	<!-- font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
	<!-- 구글 아이콘 -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="/js/jquery-3.7.1.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	
    <header>
        <div class="main-header-wrap">
            <div class="header-main">
                <div class="inner">
                    <div class="logo-box">
                        <h1 class="logo">
                            <a href="/">책키라웃</a>
                        </h1>
                    </div>
                    <div class="search">
                    </div>
                    <div class="lnb">
                    <th:block th:if="${session.member == null and session.admin == null}">
                        <ul>
                            <li>
                                <a href="/member/joinFrm">회원가입</a>
                            </li>
                            <li>
                                <a href="/member/loginFrm">로그인</a>
                            </li>
                            <li>
                                <a href="/FAQ/customerMain">고객센터</a>
                            </li>
                        </ul>
                        </th:block>
                        <th:block th:if="${session.member!=null}">
                        <ul>
                            <li>
                                <a href="/cart/main">장바구니</a>
                            </li>
                            <li>
                                <a href="/myPage/myPage" th:text="${session.member.memberName}"></a>
                            </li>
                            <li>
                                <a href="/member/logout">로그아웃</a>
                            </li>
                            <li>
                                <a href="/FAQ/customerMain">고객센터</a>
                            </li>
                        </ul>
                        <th:block th:include="common/chatbot"></th:block>
                        </th:block>
                        <th:block th:if="${session.admin!=null}">
                        <ul>
                            <li>
                                <a href="/admin/adminIndex?rePage=1">관리자페이지</a>
                            </li>
                            <li>
                                <a href="/admin/logout">로그아웃</a>
                            </li>
                            <li>
                                <a href="/FAQ/customerMain">고객센터</a>
                            </li>
                        </ul>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="nav">
                <div class="inner">
                    <div class="gnb">
                        <ul>
                            <li><a href="/book/list?reqPage=1&type=1&genre=1&group=1">국내도서</a></li> <!-- 임의로 잠시 책목록 -->
                            <li><a href="/book/listFore?reqPage=1&type=1&genre=1&group=5">해외도서</a></li> <!-- 임의로 잠시 책목록 -->
                            <li><a href="/board/list?reqPage=1">자유게시판</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>