<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/admin.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="nav1">
        <div class="icons-menu">
            <ul>
                <li class="arrow">
                    <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                </li>
                <li class="icon1">
                    <a href="/admin/adminIndex?rePage=1"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="icon1">
                    <a href="/admin/bookListFrm?rePage=1"><i class="fa-solid fa-book-open"></i></a>
                </li>
                <li class="icon1">
                    <a href="#"><i class="fa-solid fa-circle-user"></i></a>
                </li>
                <li class="icon1">
                    <a href="#"><i class="fa-brands fa-android"></i></a>
                </li>
            </ul>
        </div>
        <div class="admin-menu">
        <ul>
            <li>
                <h1 class="logo1">
                    <a href="/admin/adminIndex?rePage=1">책키라웃 관리자</a>
                </h1>
            </li>
            <li>
            <a href="/admin/adminIndex?rePage=1">판매점 관리</a>
            <ul class="sub-menu">
                <li><a href="/admin/adminIndex?rePage=1">판매점 리스트</a></li>
                <li><a href="/admin/insertAdminFrm">판매점 등록</a></li>
                <li><a href="/admin/updatePwFrm">비밀번호 변경</a></li>
            </ul>
            </li>
            <li>
            <a href="#">책 관리</a>
            <ul class="sub-menu">
                <li><a href="/admin/bookListFrm?rePage=1">책 리스트</a></li>
                <li><a href="/admin/insertBookFrm">책 등록</a></li>
                <li><a href="/admin/bookListFrm">책 정보 수정</a></li>
            </ul>
            </li>
            <li>
            <a href="#">1대1 문의</a>
            </li>
            <li>
            <a href="#">챗봇</a>
            </li>
        </ul>
        </div>
    </div>
    <!-- 네비 사이드 메뉴 끝 -->
    <div class="wrap">
        <!-- 헤더 -->
        <div>
            <div class="main-header-wrap">
                <div class="header-main1">
                    <div class="inner">
                        <div class="search">
                            <input type="text" name="search" />
                            <button class="search-btn" type="button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="lnb">
                            <ul>
                            <li>
                                <a href="/admin/adminIndex?rePage=1">판매점</a>
                            </li>
                            <li>
                                <a href="/admin/updatePwFrm">비밀번호 변경</a>
                            </li>
                            <li>
                                <a href="/admin/logout">로그아웃</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 헤더 -->
        </div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <div class="inner">
                <div class="container">
                    <div class="page-title">
                        <h1>책 관리</h1>
                    </div>
                    <form action="">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%">
                                	<label></label>
                                	<input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                                </th>
              					<th style="width: 4%">책번호</th>
              					<th style="width: 8%">책유형</th>
              					<th style="width: 8%">책장르</th>
              					<th style="width: 10%">책이름</th>
              					<th style="width: 5%">책저자</th>
              					<th style="width: 7%">출판사</th>
              					<th style="width: 11%">출판일</th>
              					<th style="width: 11%">등록일</th>
              					<th style="width: 10%">판매가격</th>
              					<th style="width: 8%">수량</th>
              					<th style="width: 8%">수정/삭제</th>
              					<th style="width: 10%">상세수정/등록</th> 
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr th:each="book :${bookList}"><!-- -->                            	
                            	<td>
                                <input type="checkbox" name="chk[]" value="1">
                                </td>
                            	<td th:text="${book.bookNo}"></td>
              					<td th:text="${book.bookGenre}"></td>
              					<td th:text="${book.bookType}"></td>
              					<td th:text="${book.bookName}"></td>
             					<td th:text="${book.bookWriter}"></td>
              					<td th:text="${book.bookPublisher}"></td>
              					<td th:text="${book.publicationDate}"></td>
              					<td th:text="${book.enrollDate}"></td>
              					<td th:text="${book.bookPrice}+원"></td>
              					<td th:text="${book.bookCount}"></td>
              					<td>
              					<button class="btn-type2 btn">수정</button>
              					<button class="btn-type2 btn">삭제</button>
              					</td>
              					<td>
              					<button class="btn-type2 btn">상세수정</button>
              					<button class="btn-type2 btn">등록</button>
              					</td>
              					<!-- 
              					private int bookNo;
								private String bookName;
								private String bookWriter;
								private int bookPrice;
								private String bookPublisher;
								private String publicationDate;
								private String enrollDate;
								private String bookImg;
								private int adminNo;
								private String bookDetailContent;
								private String bookDetailWriter;
								private String bookDetailImg;
								private String bookType;
								private String bookGenre;
								private int bookCount;
              					 -->
                            </tr>
                            	
                        </tbody>
                    </table>
                   </form>
                </div>
            </div>
        <!--페이지 넘기는 부분 (책리스트,매장리스트)
        <div class="pagination">
            <ul>
                <li><a class="page-item page-btn" href="#"><span><i class="fa-solid fa-angle-left"></i></span></a></li>
                <li><a class="page-item active-page" href="#">1</a></li>
                <li><a class="page-item" href="#">2</a></li>
                <li><a class="page-item" href="#">3</a></li>
                <li><a class="page-item" href="#">4</a></li>
                <li><a class="page-item" href="#">5</a></li>
                <li><a class="page-item page-btn" href="#"><span><i class="fa-solid fa-angle-right"></i></span></a></li>
            </ul>
        </div>
        -->
		<div id="pageNavi" th:utext="${pageNavi}">
	  	</div>
		<!--페이지 넘기는 부분 종료 -->
        </div>
        <!-- footer 시작  헤더 풋더 다 끌어와서 쓰면 됨 -->
        <div>
            <div class="main-footer-wrap">
                <div class="copyright">
                    <div class="inner">
                    <h4>COPYRIGHT &copy;책키라웃 ALL RIGHTS RESERVED.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 끝 -->

        <div id="scroll-btn">
            <button id="top-btn">
                <i style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" class="fa-solid fa-angles-up fa-bounce" ></i>
            </button>
        </div>
    </div>
    
    <script>
    <!--input 전체 선택 로직 -->
    function check_all(f)
    {
        var chk = document.getElementsByName("chk[]");

        for (i=0; i<chk.length; i++)
            chk[i].checked = f.chkall.checked;
    }
    
    </script>
</body>
</html>