<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<script src="/js/jquery-3.7.1.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	<style>
	 .bookTbl tbody td input{
	 	width : 100%;
	 	border: none;
		outline: none;
		font-size: 15px;
		text-align: center;
	 }
	 table tbody tr:nth-child(2n) td input{
		background-color: var(--color1);	
	}
	tbody tbody tr td div div{
		padding: 10px 0px!important ;
	}
	</style>
</head>
<body>
    <div class="wrap" style="width: 100%!important;">
        <!-- 헤더 -->
        <div>
            <div class="main-header-wrap">
                <div class="header-main1">
                    <div class="inner">
                        <div class="search">
                            <input type="text" name="search" />
                            <button class="search-btn" type="button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="lnb">
                            <ul>
                            <li>
                                <a href="/admin/adminIndex?rePage=1">판매점</a>
                            </li>
                            <li>
                              <li>
                              	<a href="/admin/insertBookFrm">책 등록</a>
                              </li>
                            </li>
                            <li>
                                <a href="/admin/logout">로그아웃</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 헤더 -->
        </div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <div class="inner">
                <div class="container">
                    <div class="page-title">
                        <h1>발주창</h1>
                    </div>
                    <form action="/admin/centerInventoryOrder" method="get">
                    <table class="bookTbl">
                        <thead>
                            <tr>
              					<th style="width: 3%">번호</th>
              					<th style="width: 8%">유형</th>
              					<th style="width: 5%">장르</th>
              					<th style="width: 7%">책이름</th>
              					<th style="width: 9%">책저자 </th>
              					<th style="width: 7%">출판사</th>
              					<th style="width: 8%">출판일</th>
              					<th style="width: 9%">등록일</th>
              					<th style="width: 9%">현수량</th>
              					<th style="width: 9%">발주할 수량</th>
              					<th style="width: 6%">발주</th>
              					<th style="width: 8%">판매가격</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr>                            	
                            	<td th:text="${order.bookNo}"></td>
              					<td th:text="${order.bookType}"></td>
              					<td th:text="${order.bookGenre}"></td>
              					<td th:text=${order.bookName}></td>
             					<td th:text=${order.bookWriter}></td>
              					<td th:text=${order.bookPublisher}></td>
	              				<td th:text="${order.publicationDate}"></td>
	              				<td th:text="${order.enrollDate}"></td>
	              				<td th:text="${order.centerBookCount}"></td>
              					<td>
              						<input type="text" name="orderBookCount">
              					</td>
              						<td th:text="${order.bookPrice}"></td>
              					<td>
	              					<button type="submit" class="btn-type2 btn" id="orderButton">확인</button>
	              					<input type="hidden" name="centerBookNo" th:value="${order.centerBookNo}">
              					</td>
                            </tr>
                        </tbody>
                    </table>
                   </form>
                </div>
            </div>
		<div id="pageNavi" th:utext="${pageNavi}">
	  	</div>
		<!--페이지 넘기는 부분 종료 -->
        </div>
        <!-- footer 시작  헤더 풋더 다 끌어와서 쓰면 됨 -->
        <div>
            <div class="main-footer-wrap">
                <div class="copyright">
                    <div class="inner">
                    <h4>COPYRIGHT &copy;책키라웃 ALL RIGHTS RESERVED.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 끝 -->

        <div id="scroll-btn">
            <button id="top-btn">
                <i style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" class="fa-solid fa-angles-up fa-bounce" ></i>
            </button>
        </div>
    <th:block th:if="${session.admin.adminType}==1">
    <div class="wrap">
    </th:block>
     <th:block th:if="${session.admin.adminType}==2">
    <div class="wrap" style="width: 100%!important;">
    </th:block>
    
    <script>
    
    
   
  
    
  		 </script>
</body>
</html>