<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/admin.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<style>
	.btn-content-box>table>thead>tr>th{
		height : 70px;
	}
	
	.btn-content-box>table>tbody>tr>td{
		height : 50px;
	}
</style>
<body>
    
    <!-- 네비 사이드 메뉴 끝 -->
    <div class="wrap" style="width: 100%!important;">
       <!-- 헤더 -->
        <div>
            <div class="main-header-wrap">
                <div class="header-main1">
                    <div class="inner">
                        <div class="search">
                            <ul>
            					<li>
                					<th:block th:if="${session.admin.adminType}==2">
                					<h1 class="logo1">
                    					<a href="/admin/adminIndex?rePage=1">책키라웃  가맹점</a></h1>
                    					</th:block>
                    					<th:block th:if="${session.admin.adminType}==1">
                					<h1 class="logo1">
                    					<a href="/admin/adminIndex?rePage=1">책키라웃  총관리자</a></h1>
                    					</th:block>
           						 </li>
                        	</ul>
                        </div>
                        <div class="lnb">
                            <ul>
                            	<th:block th:if="${session.admin.adminType}==1">
					            <li>
					            <a href="/admin/questionAnswer?reqPage=1">1대1 문의</a>
					            </li>
					            <li>
					            <a href="/FAQ/faqfrm?type=1&reqPage=1">FAQ</a>
					            </li>
					            <li>
					            <a href="/notice/noticeFrm?reqPage=1">공지사항</a>
					            </li>
       						    </th:block>
	                            <li>
	                                <a href="/admin/adminIndex?rePage=1">판매점</a>
	                            </li>
	                            <li>
	                            	<a href="/admin/bookListFrm?rePage=1">책리스트</a>
	                            </li>
	                            <li>
	                                <a href="/admin/logout">로그아웃</a>
	                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ></div>
            <!-- 헤더 -->
        </div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <div class="inner">
                <div class="container">
                    <div class="page-title">
                        <h1>1:1문의 답변</h1>
                    </div>
					<div class="total-faq-box">
						<div class="btn-content-box">
							<table>
								<thead>
	                            	<tr>
	              						<th style="width: 30%">문의유형</th>
	              						<th style="width: 70%">제목</th>
	                           		</tr>
	                        	</thead>
	                       		<tbody>                            
	                            	<tr th:each="q :${list}"><!-- -->                            	
	             						<td th:text="${q.questionType}"></td>
	              						<td><a th:href="@{/admin/questionAnswerFrm(questionNo=${q.questionNo})}" th:text="${q.questionTitle}"></a></td>
	                           		</tr>
	                      		</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>

		<div id="pageNavi" th:utext="${pageNavi}">
	  	</div>
		<!--페이지 넘기는 부분 종료 -->
        </div>
        <!-- footer 시작  헤더 풋더 다 끌어와서 쓰면 됨 -->
        <div>
            <div class="main-footer-wrap">
                <div class="copyright">
                    <div class="inner">
                    <h4>COPYRIGHT &copy;책키라웃 ALL RIGHTS RESERVED.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 끝 -->

        <div id="scroll-btn">
            <button id="top-btn">
                <i style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" class="fa-solid fa-angles-up fa-bounce" ></i>
            </button>
        </div>
    </div>

</body>
</html>