<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/admin.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<script src="/js/admin.js"></script>

<style>
.container{
	width:65%;
	border: 3px solid var(--color3);
	padding: 15px;
	border-radius: 10px; 
}


</style>
</head>
<body>
    <div class="nav1">
        <div class="icons-menu">
            <ul>
                <li class="arrow">
                    <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                </li>
                <li class="icon1">
                    <a href="/admin/adminIndex?rePage=1"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="icon1">
                    <a href="#"><i class="fa-solid fa-book-open"></i></a>
                </li>
                <li class="icon1">
                    <a href="#"><i class="fa-solid fa-circle-user"></i></a>
                </li>
                <li class="icon1">
                    <a href="#"><i class="fa-brands fa-android"></i></a>
                </li>
            </ul>
        </div>
        <div class="admin-menu">
        <ul>
            <li>
                <h1 class="logo1">
                    <a href="/admin/adminIndex?rePage=1">책키라웃 관리자</a>
                </h1>
            </li>
            <li>
            <a href="/admin/adminIndex?rePage=1">판매점 관리</a>
            <ul class="sub-menu">
                <li><a href="/admin/adminIndex?rePage=1">판매점 리스트</a></li>
                <li><a href="/admin/insertAdmin">판매점 등록</a></li>
                <li><a href="#">비밀번호 수정</a></li>
            </ul>
            </li>
            <li>
            <a href="#">책 관리</a>
            <ul class="sub-menu">
                <li><a href="/admin/bookList">책 리스트</a></li>
                <li><a href="/admin/insertBook">책 등록</a></li>
                <li><a href="#">책 정보 수정</a></li>
            </ul>
            </li>
            <li>
            <a href="#">1대1 문의</a>
            </li>
            <li>
            <a href="#">챗봇</a>
            </li>
        </ul>
        </div>
    </div>
    <!-- 네비 사이드 메뉴 끝 -->
    <div class="wrap">
        <!-- 헤더 -->
        <div>
            <div class="main-header-wrap">
                <div class="header-main1">
                    <div class="inner">
                        <div class="search">
                            <input type="text" name="search" />
                            <button class="search-btn" type="button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="lnb">
                            <ul>
                            <li>
                                <a href="/admin/adminIndex?rePage=1">판매점</a>
                            </li>
                            <li>
                                <a href="#">비밀번호 변경</a>
                            </li>
                            <li>
                                <a href="/admin/logout">로그아웃</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 헤더 -->
        </div>

        <!-- 컨텐츠 영역 -->
        <div class="content">
            <div class="inner">
                    <div class="page-title">
                        <h1>비밀번호 변경</h1>
                    </div>
                <div class="container">
                    <form action="/admin/insertAdmin" method="post" autocomplete="off">
			 	<div class="input-wrap">
			 		<div class="input-title">
			 			<label for="adminName">비밀번호 변경</label>
			 		</div>
			 		<div class="input-item">
			 			<input type="text" name="adminName" id="adminName">
			 		</div>
			 	</div>
			 	<div class="admin-button-box">
			 		<button type="submit" class="btn-type4 btn" onclick="return checkValue();">비밀번호 변경</button>
			 	</div>
		 			</form>
                </div>
            </div>
       
        </div>
        <!-- footer 시작  헤더 풋더 다 끌어와서 쓰면 됨 -->
        <div>
            <div class="main-footer-wrap">
                <div class="copyright">
                    <div class="inner">
                    <h4>COPYRIGHT &copy;책키라웃 ALL RIGHTS RESERVED.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 끝 -->

        <div id="scroll-btn">
            <button id="top-btn">
                <i style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" class="fa-solid fa-angles-up fa-bounce" ></i>
            </button>
        </div>
    </div>
</body>
</html>