<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세페이지</title>
<link rel="stylesheet" href="/css/detail.css">
<!-- jQuery CDN -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/detail.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	
	<main class="content">
        <div class="inner">
            <div class="info-wrap">
                <div class="book">
                    <ul>
                    	<li style="display: none;"><span th:text="${book.bookNo}" id="bookNo"></span></li>
                        <li><h2 th:text="${book.bookName}"></h2></li>
                        <li><p><span th:text="${book.bookWriter}"></span> / 발행(출시)일자: <span th:text="${book.publicationDate}"></span></p></li>
                        <li>
                        	<img th:src="@{/book/{filename}(filename=${book.bookImg})}" alt="도서 이미지">
                        </li>
                    </ul>
                </div>
                <div class="info">
                    <div>
                        <span class="badge">무료배송</span>
                        <span class="badge">소득공제</span>
                    </div>
                    <div>
                        <span th:text="${book.bookPrice}" id="price" class="price"></span><span>원</span>
                    </div>
                    <div>
                        <p>
                            <span class="left">배송안내</span>
                            <span class="right">무료배송</span>
                        </p>
                        <div class="clear"></div>
                        <P class="right">
                            <span class="badge">무료배송</span>
                            <span>내일(8/1, 목 오전 7시 전) 도착</span>
                        </P>
                        <P>
                            <span class="right">기본배송지 기준</span>
                        </P>
                    </div>
                    <div class="container">
                        <button class="btn-type1 btn open-btn" type="button">
                            <i class="fa-solid fa-location-dot"></i>
                            	매장 재고·위치
                        </button>
                    </div>
    
                    <div class="modal-container">
                        <div class="modal">
                            <div class="content">
                                <div class="text-wrap" id="modal-data-wrap">
                                	<!-- 
                                    <h2>당신이 누군가를 죽였다</h2>
                                    <table class="center_inventory">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">지점명</th>
                                                <th style="width: 65%;">주소</th>
                                                <th style="width: 15%;">재고 수량</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="center : ${list}">
                                                <td th:text="${center.admin_name}"></td>
                                                <td th:text="${center.admin_addr}"></td>
                                                <td th:text="${center.centerBookCount}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    -->
                                </div>
                            </div>
                            <button class="close-btn">닫기</button>
                        </div>
                        <div class="dim-layer"></div>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>

            <hr>
            
            <div class="clear"></div>
            
            <div class="book-detail-img">
            	<div class="div-title">
            		상세이미지
            	</div>
                <div>
                	<!-- <img src="/image/book-detail.jpg"> -->
                   	<img th:src="@{/book/{filename}(filename=${book.bookDetailImg})}" alt="도서 상세 이미지">
                </div>
            </div>
            
            <div class="clear"></div>

            <hr>
            
            <div class="clear"></div>

            <hr>
            
            <div class="book_detail_content">
            	<div class="div-title">
            		책 소개
            	</div>
            	<div>
            		<p th:text="${book.bookDetailContent}"></p>
            	</div>
            </div>
            
            <div class="clear"></div>
            
            <hr>
            
            <!-- 
            <div class="book-info">
            	<div class="div-title">도서 정보</div>
            	<ul>
            		<li>도서 저자: </li>
            		<li>도서 출간일: </li>
            	</ul>
            </div>
            
            <div class="clear"></div>

            <hr>
            
            <div class="clear"></div> -->

            <div class="comment">
                <div class="comment-title">
                    <span style="font-size: 20px;"><strong th:text="${'Book리뷰('+commentCount+'개)'}"></strong></span>
                </div>
                <!-- 댓글 입력 -->
                <div th:if="${session.member != null}" class="inputCommentBox">
                    <form action="/book/insertComment" method="post">
                        <ul>
                            <li>
                                <span class="user-icon"><i class="fa-solid fa-circle-user"></i></span>
                            </li>
                            <li>
                                <input type="hidden" name="bookCommentWriter" th:value="${session.member.memberId}">
                                <input type="hidden" name="bookRef" th:value="${book.bookNo}">
                                <div class="input-item">
                                    <textarea name="bookCommentContent" placeholder="리뷰를 작성하세요!"></textarea>
                                </div>
                            </li>
                            <li>
                                <button class="btn-point" type="submit">등록</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- 댓글 출력 시작 -->
                <div class="commentBox">
                    <th:block th:each="bc : ${b.commentList}">
                        <ul class="posting-comment">
                            <!-- <li>
                                <span class="user-icon">
                                    <i class="fa-solid fa-circle-user"></i>
                                </span>
                            </li> -->
                            <li>
                                <div class="comment-info">
                                    <span class="comment-info-left">
                                        <span class="badge buyer">구매자</span>
                                        <span th:text="${bc.bookCommentWriter}"></span>
                                        <span>|</span>
                                        <span th:text="${bc.bookCommentDate}"></span>
                                    </span>
                                    <span class="comment-info-right">
	                                    <th:block th:if="${session.member.memberId == bc.bookCommentWriter}">
	                                        <a href="javascript:void(0)" th:onclick="modifyComment(this, [[${bc.bookCommentNo}]], [[${book.bookNo}]]);">수정</a>
	                                        <a href="javascript:void(0)" th:onclick="deleteComment(this, [[${bc.bookCommentNo}]], [[${book.bookNo}]]);">삭제</a>
	                                    </th:block>
                                    </span>
                                </div>
                                <p class="comment-content" th:text="${bc.bookCommentContent}"></p>
                                <div style="display: none;width: 100%;margin: 20px 0 15px 0;" class="input-item">
                                    <textarea name="bookCommentContent" th:text="${bc.bookCommentContent}"></textarea>
                                </div>
                                <p class="comment-link">
                                    <th:block th:if="${session.member != null}">
                                        <span class="like-box">
                                        	<!-- 
                                            <span th:if="${bc.isLike == 1}" class="heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            </span>
                                            <span th:if="${bc.isLike == 0}" class="heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            </span>
                                            -->
											<span th:if="${bc.isLike == 1}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">thumb_up_alt</span>
											<span th:if="${bc.isLike == 0}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">thumb_up_off_alt</span>
                                            <span class="likeCount" th:text="${bc.likeCount}"></span>                                            
                                            <span class="reComment-btn">
                                            	<i class="fa-solid fa-comment-dots"></i>
                                                <a class="recShow" href="javascript:void(0)">
                                                	답글
                                                </a>
                                            	<!-- <span class="commentReCount">0</span> -->
                                            </span>
                                        </span>
                                    </th:block>
                                </p>
                            </li>
                        </ul>
						<!-- 대댓글 작성 양식 -->
						<div style="display: none;" th:if="${session.member != null}" class="inputCommentBox inputRecommentBox">
							<form action="/book/insertComment" method="post">
								<ul>
									<li>
										<!-- <span class="material-icons">subdirectory_arrow_right</span> -->
										<span class="comment-icon"><i class="fa-solid fa-arrow-turn-up"></i></span>
									</li>
									<li>
										<input type="hidden" name="bookCommentWriter" th:value="${session.member.memberId}">
										<input type="hidden" name="bookRef" th:value="${book.bookNo}">
										<input type="hidden" name="bookCommentRef" th:value="${bc.bookCommentNo}">
										<div class="input-item">
											<textarea name="bookCommentContent"></textarea>
										</div>
									</li>
									<li>
										<button class="btn-point" type="submit">등록</button>
									</li>
								</ul>
							</form>
						</div>
						<!-- 출력한 댓글의 대댓글 출력 -->
						<ul class="posting-comment reply" th:each="bcc : ${b.reCommentList}" th:if="${bc.bookCommentNo == bcc.bookCommentRef}">
							<li>
								<span style="margin-right: 20px;" class="comment-icon"><i class="fa-solid fa-arrow-turn-up"></i></span>
								<!-- <span class="user-icon"><i class="fa-solid fa-circle-user"></i></span> -->
							</li>
							<li>
								<div class="comment-info">
                                    <span class="comment-info-left">
                                        <span class="badge buyer">구매자</span>
                                        <span th:text="${bcc.bookCommentWriter}"></span>
                                        <span>|</span>
                                        <span th:text="${bcc.bookCommentDate}"></span>
                                    </span>
                                    <span class="comment-info-right">
	                                    <th:block th:if="${session.member != null && session.member.memberId == bcc.bookCommentWriter}">
											<a href="javascript:void(0)" th:onclick="modifyComment(this, [[${bcc.bookCommentNo}]], [[${book.bookNo}]])">수정</a>
											<a href="javascript:void(0)" th:onclick="deleteComment(this, [[${bcc.bookCommentNo}]], [[${book.bookNo}]])">삭제</a>
										</th:block>
                                    </span>
								</div>
								<p class="comment-content" th:text="${bcc.bookCommentContent}"></p>
								<div style="display: none;" class="input-item">
									<textarea name="bookCommentContent" th:text="${bcc.bookCommentContent}"></textarea>
								</div>
								<p class="comment-link">
                                    <th:block th:if="${session.member != null}">
                                        <span class="like-box">
											<!-- 
											<span class="heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);">
												<i class="fa-solid fa-heart"></i>
											</span>
											<span class="heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);">
												<i class="fa-regular fa-heart"></i>
											</span>
											 -->
											<span th:if="${bcc.isLike == 1}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);">thumb_up_alt</span>
											<span th:if="${bcc.isLike == 0}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);">thumb_up_off_alt</span>
											<span class="likeCount" th:text="${bcc.likeCount}"></span>
                                        </span>
                                    </th:block>
                                </p>
							</li>
						</ul>
                    </th:block>
                </div>
            </div>
            
            <div class="clear"></div>

            <div class="buy-info">
                <div class="inner">
                    <div class="price-info">
                        <span>총 상품 금액</span>
                        <span id="total" class="total" th:text="${book.bookPrice}"></span><span>원</span>
                    </div>
                    <div class="bottom-btnBox">
                        <span class="btn-type1 countPM">
                            <!-- 장바구니 수량 증감 -->
                            <button class="minus" onclick="minus();">-</button>
                            <input type="number" id="count" value="1" style="width: 34px;" readonly>
                            <button class="plus" onclick="plus();">+</button>
                        </span>
                        <button class="btn-type2 btn" th:onclick="addCart(this, [[${book.bookNo}]])">장바구니</button>
                        <button class="btn-type3 btn" th:onclick="nowPay(this, [[${book.bookNo}]])">바로구매</button>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
    </main>

	<script>
		// 모달 팝업 오픈&클로즈		 
		$(document).ready(function(){
		    var $openBtn = $('.open-btn'),
		        $closeBtn = $('.close-btn'),
		        $modal = $('.modal-container'),
		        $dimLayer = $('.dim-layer');
	
		    // console.log($openBtn);
		    
		    $openBtn.click(function () {
		        modalShow();
		    });
		    
		    $closeBtn.click(function () {
		        modalHide();
		    });
		    
		    $dimLayer.click(function () {
		        modalHide();
		    });
	
		    function modalShow() {
		        $modal.addClass('active');
		        $dimLayer.show();
		        // console.log('show button click');
		        
		        const bookNo = $("#bookNo").text();
		        // console.log(bookNo);
		        $("#modal-data-wrap").empty();
		        $.ajax({
		            url : "/book/ajax1",
		            type : "get",
		            data : {bookNo : bookNo},
		            dataType : "json",
		            success : function(data){
		                // console.log(data);
		            	// console.log(typeof data);
		                // console.log(data.length);
		                for(let i = 0; i < data.length; i++){
		                    const h2 = $("<h2></h2>");
		                    const h2Span1 = $("<span>");
		                    h2Span1.text("재고명 : ")
		                    const h2Span2 = $("<span>");
		                    h2Span2.append(data[i].bookName);
		                    h2.append(h2Span1).append(h2Span2);
		                    
		                    //h2.text();
		                    
		                    const table = $("<table class='center_inventory'>");
		                    
		                    const thead = $("<thead>");
		                    const tr1 = $("<tr>");
		                    
		                    const th1 = $("<th style='width: 20%;'>");//<th style="width: 20%;"></th>
		                    th1.text("지점명");//<th style="width: 20%;">지점명</th>
		                    tr1.append(th1);
		                    
		                    const th2 = $("<th style='width: 65%;'>");
		                    th2.text("주소");
		                    tr1.append(th2);
		                    
		                    const th3 = $("<th style='width: 15%;'>");
		                    th3.text("재고 수량");
		                    tr1.append(th3);
		                    
		                    thead.append(tr1);
		                    /*
		                    <th style="width: 20%;">지점명</th>
		                    <th style="width: 65%;">주소</th>
		                    <th style="width: 15%;">재고 수량</th>
		                    */
		                    
		                    const tbody = $("<tbody>");
		                    const tr2 = $("<tr>");//<tr></tr>
		                    
		                    const td1 = $("<td>");//<td></td>
		                    td1.append(data[i].adminName);
		                    tr2.append(td1);
		                    
		                    const td2 = $("<td>");
		                    const addrSpan = $("<span>");
		                    addrSpan.append(data[i].adminAddr);
		                    td2.append(addrSpan);
		                    
		                    /* 추가 작업 */
		                    const mapBtn = $("<span class='btn-type4 btn mapBtn'>");
		                    mapBtn.css("margin-left", 10);
		                    const mapLink = $("<a>");//<a href='/book/centerMap.html' target='_blank'>지도보기</a>
		                    //mapLink.prop('href', '/book/centerMap.html');
		                    //mapLink.attr('target', '_blank');
		                    mapLink.prop('href', 'javascript:void(0)');
		                    mapLink.attr('onclick', 'centerMap(this, '+data[i].adminNo+')');
		                    mapLink.text("지도보기");
		                    mapLink.css("color", "white");
		                    mapBtn.append(mapLink);
		                    td2.append(mapBtn);
		                    
		                    tr2.append(td2);
		                    
		                    const td3 = $("<td>");
		                    const td3Span1 = $("<span>");
		                    td3Span1.append(data[i].centerBookCount);
		                    const td3Span2 = $("<span>");
		                    td3Span2.text("개");
		                    td3.append(td3Span1).append(td3Span2);
		                    tr2.append(td3);
		                    
		                    const td4 = $("<td style='display: none;'>");
		                    td4.append(data[i].adminNo);
		                    tr2.append(td4);
		                    
		                    tbody.append(tr2);
		                    
		                    /*
		                    <td th:text="${center.adminName}"></td>
		                    <td th:text="${center.adminAddr}"></td>
		                    <td th:text="${center.centerBookCount}"></td>
		                    */
		                    
		                    table.append(thead);
		                    table.append(tbody);

		                    $("#modal-data-wrap").append(h2);
		                    $("#modal-data-wrap").append(table);
		                }
		            },
		            error : function(){
		                console.log("에러");
		            }
		        });
		    }
		    
		    function modalHide() {
		        $modal.removeClass('active');
		        $dimLayer.hide();
		        // console.log('close button click');
		    }
		});
		
		function centerMap(obj, adminNo){
			//console.log($(obj));
			//console.log($(obj).parent().parent().prev().text());
			//console.log($(obj).parent().parent().children().eq(0).text());
			
			// 지점명 td의 텍스트
			const adminName = $(obj).parent().parent().prev().text();
			// 지점 주소 td의 텍스트
			const adminAddr = $(obj).parent().parent().children().eq(0).text();
	        $.ajax({
	            url : "/book/centerMap",
	            type : "post",
	            data : {adminNo : adminNo},
	            dataType : "json",
	            success : function(data){
	            	//console.log(data[0].latitude);
	            	const latitude = data[0].latitude;
	            	const longitude = data[0].longitude;
	            	const adminPhone = data[0].adminPhone;
	            	const openingDay = data[0].openingDay;
	    			window.open("/book/centerMap?adminNo="+adminNo+"&adminName="+adminName+"&adminAddr="+adminAddr+"&latitude="+latitude+"&longitude="+longitude+"&adminPhone="+adminPhone+"&openingDay="+openingDay);
	            },
	            error : function(){
	                console.log("에러");
	            }
	        });
		}
		
		// 장바구니 버튼
		function addCart(obj, bookNo) {
			let count = $(obj).prev().children().eq(1).val();
			console.log(count);
			$.ajax({
				url: "/cart/selectCart",
				type: "get",
				data: { bookNo: bookNo },
				success: function (data) {
					const cartNo = data;
					if (cartNo == 0) {
						$.ajax({
							url: "/cart/addCart2",
							type: "get",
							data: { bookNo: bookNo, count : count },
							success: function (data) {
								console.log(data);
								swal({
									title: "장바구니 담기",
									text: "해당 책이 장바구니에 담겼습니다.",
									icon: "info"
								});
							},
							error: function () {
								console.log("에러");
							}
						});
					} else {
						console.log(cartNo);
						$.ajax({
							url: "/cart/plusCart2",
							type: "get",
							data: { cartNo: cartNo, count : count },
							success: function (data) {
								console.log(data);
								swal({
									title: "책 수량 추가",
									text: "장바구니에 담겨있는 책입니다. 추가 하시겠습니까?",
									icon: "info"
								});
							},
							error: function () {
								console.log("에러");
							}
						});
					}
				},
				error: function () {
					console.log("에러");
				}
			});
		}
		
		// 바로구매 버튼
		function nowPay(obj, bookNo) {
			let count = $(obj).prev().prev().children().eq(1).val();
			console.log(count);
			location.href = "/cart/nowPay2?bookNo="+bookNo+"&count="+count;
		}
	
		function modifyComment(obj, bookCommentNo, bookNo){
			// 숨겨놓은 textarea를 화면에 보여줌
			$(obj).parent().parent().next().next().show();
			// 화면에 보이던 댓글 내용을 숨김
			$(obj).parent().parent().next().hide();
			
			// 수정 버튼 -> 수정완료 버튼으로 텍스트 변경
			$(obj).text("수정완료");
			$(obj).attr("onclick", "modifyComplete(this, "+bookCommentNo+", "+bookNo+");");
			
			// 삭제 버튼 -> 수정취소 버튼으로
			$(obj).next().text("수정취소");
			$(obj).next().attr("onclick", "modifyCancel(this, "+bookCommentNo+", "+bookNo+");");
			
			// 답글달기 버튼이 보이는 경우 화면에서 안 보이도록 처리
			$(obj).parent().parent().next().next().next().children().children().eq(2).hide(); //display: none;
		}
		
		function modifyComplete(obj, bookCommentNo, bookNo){
			// 자바스크립트에서 from태그를 생성해서 전송하는 작업
			// 1.form태그 생성
			const form = $("<form>");
			// 1-1. form태그의 속성 설정
			form.attr("action", "/book/updateComment");
			form.attr("method", "post");
			form.hide();
			
			// 2.form태그 내부에 전송하고 싶은 데이터를 생성
			const bookCommentNoInput = $("<input>");
			bookCommentNoInput.attr("type", "text");
			bookCommentNoInput.attr("name", "bookCommentNo");
			bookCommentNoInput.val(bookCommentNo);
			
			const bookRefInput = $("<input type='text' name='bookRef'>");
			bookRefInput.val(bookNo);
			
			// 3.수정된 댓글이 입력되어있는 textarea(textarea를 감싼 div) 가져옴
			const bookCommentContent = $(obj).parent().parent().next().next().clone();
			
			// 4.form태그에 추가
			form.append(bookCommentNoInput).append(bookRefInput).append(bookCommentContent);
			
			// 5.만들어진 form태그를 현재 문서 내부에 포함
			$("body").append(form);
			
			// 6.form태그 submit
			form.submit();
		}
		
		function modifyCancel(obj, bookCommentNo, bookNo){
			// textarea 숨김
			$(obj).parent().parent().next().next().hide();
			// 기존 댓글 내용을 다시 보여줌
			$(obj).parent().parent().next().show();
			
			// 수정완료 -> 수정
			$(obj).prev().text("수정");
			$(obj).prev().attr("onclick", "modifyComment(this, "+bookCommentNo+", "+bookNo+");");
			
			// 수정취소 -> 삭제
			$(obj).text("삭제");
			$(obj).attr("onclick", "deleteComment(this, "+bookCommentNo+", "+bookNo+");");
			
			// 답글달기 버튼을 화면에 다시 보여줌
			$(obj).parent().parent().next().next().next().children().children().eq(2).show(); //display: block;
		}
		
		function deleteComment(obj, bookCommentNo, bookNo){
			if(confirm("댓글을 삭제하시겠습니까?")){
				location.href="/book/deleteComment?bookCommentNo="+bookCommentNo+"&bookRef="+bookNo;
			}
		}
		
		$(".recShow").on("click", function(){
			// 답글달기 버튼 중 클릭한 답글달기 버튼이 몇번째 버튼인지 조회
			const index = $(".recShow").index(this);
			if($(this).text() === "취소"){
				$(this).text("답글");
			}else{
				$(this).text("취소");
			}
			$(".inputRecommentBox").eq(index).toggle();
		});
	
		function likePush(obj, bookCommentNo){
			// 현재 상태를 구분 -> 지금 클릭한 행동이 좋아요를 누른건지/좋아요 취소를 누른건지 구분
			const currentText = $(obj).text();
			// thumb_up_off_alt   thumb_up_alt
			const isLike = (currentText == "thumb_up_off_alt")?0:1;
			console.log(isLike);
			$.ajax({
				url : "/book/likePush",
				type : "post",
				data : {bookCommentNo : bookCommentNo, isLike : isLike},
				success : function(data){
					if(data == -10){
						swal({
							title : "로그인 필요",
							text : "로그인 후 이용해주세요.",
							icon : "info"
						});
					}else if(data == -1){
						swal({
							title : "데이터 처리 오류",
							text : "잠시 후 다시 시도해주세요.",
							icon : "warning"
						});
					}else{
						// 아이콘 변경
						if(isLike == 0){
							$(obj).text("thumb_up_alt");
						}else{
							$(obj).text("thumb_up_off_alt");
						}
						// 현재 좋아요 갯수 변경
						$(obj).next().text(data);
					}
				},
				error : function(){
					console.log(error);
				}
			});
		}
		
		// 가격 숫자에 천단위 콤마 찍기
		document.addEventListener("DOMContentLoaded", function() {
		    // 가격 정보를 포함하는 요소 선택
		    const priceElement = document.querySelector("#price");
		    const cntInput = document.querySelector("#count");
		    const totalElement = document.querySelector("#total");

		    // 가격을 숫자로 변환하여 반환
		    const getPrice = () => {
		        const priceText = priceElement.textContent; // '19800원' 형태의 텍스트
		        return parseFloat(priceText.replace(/[^0-9.]/g, '')); // '원' 제거 후 숫자만 추출
		    };

		    // 수량을 정수로 변환
		    const getCount = () => parseInt(cntInput.value, 10);

		    // 총 금액 업데이트 함수
		    const updateTotal = () => {
		        const price = getPrice();
		        const count = getCount();
		        const result = price * count;
		        totalElement.innerHTML = `${result.toLocaleString()}`;
		    };

		    // 수량 감소 함수
		    window.minus = function() {
		        let count = getCount();
		        if(count == 1){
		            alert("최소 주문 수량은 1개 입니다.");
		        }else{
		            cntInput.value = count - 1;
		            updateTotal();
		        }
		    };

		    // 수량 증가 함수
		    window.plus = function() {
		        let count = getCount();
		        if(count == 10){
		            alert("최대 주문 수량은 10개 입니다.");
		        }else{            
		            cntInput.value = count + 1;
		            updateTotal();
		        }
		    };

		    // 초기 총 금액 설정
		    updateTotal();
		});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>