<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세페이지</title>
<link rel="stylesheet" href="/css/detail.css">
<!-- jQuery CDN -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/detail.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	
	<main class="content">
        <div class="inner">
            <div class="info-wrap">
                <div class="book">
                    <ul>
                    	<li style="display: none;"><span th:text="${book.bookNo}" id="bookNo"></span></li>
                        <li><h2 th:text="${book.bookName}"></h2></li>
                        <li><p><span th:text="${book.bookWriter}"></span> / 발행(출시)일자: <span th:text="${book.publicationDate}"></span></p></li>
                        <li>
                            <img src="/image/book-sample.jpg" alt="도서 이미지">
                        </li>
                    </ul>
                </div>
                <div class="info">
                    <div>
                        <span class="badge">무료배송</span>
                        <span class="badge">소득공제</span>
                    </div>
                    <div>
                        <span th:text="${book.bookPrice}" id="price" class="price"></span><span>원</span>
                    </div>
                    <div>
                        <p>
                            <span class="left">배송안내</span>
                            <span class="right">무료배송</span>
                        </p>
                        <div class="clear"></div>
                        <P class="right">
                            <span class="badge">무료배송</span>
                            <span>내일(8/1, 목 오전 7시 전) 도착</span>
                        </P>
                        <P>
                            <span class="right">기본배송지 기준</span>
                        </P>
                    </div>
                    <div class="container">
                        <button class="btn-type1 btn open-btn" type="button">
                            <i class="fa-solid fa-location-dot"></i>
                            	매장 재고·위치
                        </button>
                    </div>
    
                    <div class="modal-container">
                        <div class="modal">
                            <div class="content">
                                <div class="text-wrap" id="modal-data-wrap">
                                	<!-- 
                                    <h2>당신이 누군가를 죽였다</h2>
                                    <table class="center_inventory">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">지점명</th>
                                                <th style="width: 65%;">주소</th>
                                                <th style="width: 15%;">재고 수량</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="center : ${list}">
                                                <td th:text="${center.admin_name}"></td>
                                                <td th:text="${center.admin_addr}"></td>
                                                <td th:text="${center.centerBookCount}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    -->
                                </div>
                            </div>
                            <button class="close-btn">닫기</button>
                        </div>
                        <div class="dim-layer"></div>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>

            <hr>
            
            <div class="clear"></div>
            
            <div class="book-detail-img">
            	<div class="div-title">
            		상세이미지
            	</div>
                <div>
                	<img src="/image/book-detail.jpg">
                </div>
            </div>
            
            <div class="clear"></div>

            <hr>
            
            <div class="clear"></div>
            
            <!-- 
            <div class="book-info">
            	<div class="div-title">도서 정보</div>
            	<ul>
            		<li>도서 저자: </li>
            		<li>도서 출간일: </li>
            	</ul>
            </div>
            
            <div class="clear"></div>

            <hr>
            
            <div class="clear"></div> -->

            <div class="comment">
                <div class="comment-title">
                    <span style="font-size: 20px;"><strong>Book리뷰(120개)</strong></span>
                    
                    <div class="right">
                        <!-- <button class="btn-type3 btn">
                            <i class="fa-solid fa-pen-clip"></i>
                           	 리뷰 작성
                        </button> -->
                        
                        <select>
                            <option>좋아요 순</option>
                            <option>최신 순</option>
                        </select>
                    </div>
                </div>
                <!-- 댓글 입력 -->
                <div th:if="${session.member != null}" class="inputCommentBox">
                    <form action="/book/insertComment" method="post">
                        <ul>
                            <li>
                                <span class="user-icon"><i class="fa-solid fa-circle-user"></i></span>
                            </li>
                            <li>
                                <input type="hidden" name="bookCommentWriter" th:value="${session.member.memberId}">
                                <input type="hidden" name="bookRef" th:value="${book.bookNo}">
                                <div class="input-item">
                                    <textarea name="bookCommentContent" placeholder="리뷰를 작성하세요!"></textarea>
                                </div>
                            </li>
                            <li>
                                <button class="btn-point" type="submit">등록</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- 댓글 출력 시작 -->
                <div class="commentBox">
                    <th:block th:each="bc : ${b.commentList}">
                        <ul class="posting-comment">
                            <!-- <li>
                                <span class="user-icon">
                                    <i class="fa-solid fa-circle-user"></i>
                                </span>
                            </li> -->
                            <li>
                                <div class="comment-info">
                                    <span class="comment-info-left">
                                        <span class="badge buyer">구매자</span>
                                        <span th:text="${bc.bookCommentWriter}"></span>
                                        <span>|</span>
                                        <span th:text="${bc.bookCommentDate}"></span>
                                    </span>
                                    <span class="comment-info-right">
	                                    <th:block th:if="${session.member.memberId == bc.bookCommentWriter}">
	                                        <a href="javascript:void(0)" th:onclick="modifyComment(this, [[${bc.bookCommentNo}]], [[${book.bookNo}]]);">수정</a>
	                                        <a href="javascript:void(0)" th:onclick="deleteComment(this, [[${bc.bookCommentNo}]], [[${book.bookNo}]]);">삭제</a>
	                                    </th:block>
                                    </span>
                                </div>
                                <p class="comment-content" th:text="${bc.bookCommentContent}"></p>
                                <div style="display: none;width: 100%;margin: 20px 0 15px 0;" class="input-item">
                                    <textarea name="bookCommentContent" th:text="${bc.bookCommentContent}"></textarea>
                                </div>
                                <p class="comment-link">
                                    <th:block th:if="${session.member != null}">
                                        <span class="like-box">
                                        	<!-- 
                                            <span th:if="${bc.isLike == 1}" class="heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            </span>
                                            <span th:if="${bc.isLike == 0}" class="heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                            </span>
                                            -->
											<span th:if="${bc.isLike == 1}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">thumb_up_alt</span>
											<span th:if="${bc.isLike == 0}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bc.bookCommentNo}]]);">thumb_up_off_alt</span>
                                            <span class="likeCount" th:text="${bc.likeCount}"></span>                                            
                                            <span class="reComment-btn">
                                            	<i class="fa-solid fa-comment-dots"></i>
                                                <a class="recShow" href="javascript:void(0)">
                                                	답글
                                                </a>
                                            	<span class="commentReCount">0</span>
                                            </span>
                                        </span>
                                    </th:block>
                                </p>
                            </li>
                        </ul>
						<!-- 대댓글 작성 양식 -->
						<div style="display: none;" th:if="${session.member != null}" class="inputCommentBox inputRecommentBox">
							<form action="/book/insertComment" method="post">
								<ul>
									<li>
										<!-- <span class="material-icons">subdirectory_arrow_right</span> -->
										<span class="comment-icon"><i class="fa-solid fa-arrow-turn-up"></i></span>
									</li>
									<li>
										<input type="hidden" name="bookCommentWriter" th:value="${session.member.memberId}">
										<input type="hidden" name="bookRef" th:value="${book.bookNo}">
										<input type="hidden" name="bookCommentRef" th:value="${bc.bookCommentNo}">
										<div class="input-item">
											<textarea name="bookCommentContent"></textarea>
										</div>
									</li>
									<li>
										<button class="btn-point" type="submit">등록</button>
									</li>
								</ul>
							</form>
						</div>
						<!-- 출력한 댓글의 대댓글 출력 -->
						<ul class="posting-comment reply" th:each="bcc : ${b.reCommentList}" th:if="${bc.bookCommentNo == bcc.bookCommentRef}">
							<li>
								<span style="margin-right: 20px;" class="comment-icon"><i class="fa-solid fa-arrow-turn-up"></i></span>
								<!-- <span class="user-icon"><i class="fa-solid fa-circle-user"></i></span> -->
							</li>
							<li>
								<p class="comment-info">
                                    <span class="comment-info-left">
                                        <span class="badge buyer">구매자</span>
                                        <span th:text="${bcc.bookCommentWriter}"></span>
                                        <span>|</span>
                                        <span th:text="${bcc.bookCommentDate}"></span>
                                    </span>
                                    <span class="comment-info-right">
                                        <span>
                                            <th:block th:if="${session.member != null && session.member.memberId == bcc.bookCommentWriter}">
												<a href="javascript:void(0)" th:onclick="modifyComment(this, [[${bcc.bookCommentNo}]], [[${book.bookNo}]])">수정</a>
												<a href="javascript:void(0)" th:onclick="deleteComment(this, [[${bcc.bookCommentNo}]], [[${book.bookNo}]])">삭제</a>
											</th:block>
                                        </span>
                                    </span>
								</p>
								<p class="comment-content" th:text="${bcc.bookCommentContent}"></p>
								<div style="display: none;" class="input-item">
									<textarea name="bookCommentContent" th:text="${bcc.bookCommentContent}"></textarea>
								</div>
								<p class="comment-link">
                                    <th:block th:if="${session.member != null}">
                                        <span class="like-box">
											<!-- <span class="heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);"><i class="fa-solid fa-heart"></i></span>
											<span class="heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);"><i class="fa-regular fa-heart"></i></span> -->
											<span th:if="${bcc.isLike == 1}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);">thumb_up_alt</span>
											<span th:if="${bcc.isLike == 0}" class="material-icons heart-icon" th:onclick="likePush(this, [[${bcc.bookCommentNo}]]);">thumb_up_off_alt</span>
											<span class="likeCount" th:text="${bcc.likeCount}"></span>
                                        </span>
                                    </th:block>
                                </p>
							</li>
						</ul>
                    </th:block>
                </div>
            </div>
            
            <div class="clear"></div>

            <div class="buy-info">
                <div class="inner">
                    <div class="price-info">
                        <span>총 상품 금액</span>
                        <span id="total" class="total" th:text="${book.bookPrice}"></span><span>원</span>
                    </div>
                    <div class="bottom-btnBox">
                        <span class="btn-type1 countPM">
                            <!-- 장바구니 수량 증감 -->
                            <button class="minus" onclick="minus();">-</button>
                            <input type="number" id="count" value="1" style="width: 34px;" readonly>
                            <button class="plus" onclick="plus();">+</button>
                        </span>
                        <button class="btn-type1 btn"><span><i class="fa-solid fa-gift"></i></span>선물하기</button>
                        <button class="btn-type2 btn">장바구니</button>
                        <button class="btn-type3 btn">바로구매</button>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
    </main>

	<script>
		function modifyComment(obj, bookCommentNo, bookNo){
			// 숨겨놓은 textarea를 화면에 보여줌
			$(obj).parent().parent().next().next().show();
			// 화면에 보이던 댓글 내용을 숨김
			$(obj).parent().parent().next().hide();
			
			// 수정 버튼 -> 수정완료 버튼으로 텍스트 변경
			$(obj).text("수정완료");
			$(obj).attr("onclick", "modifyComplete(this, "+bookCommentNo+", "+bookNo+");");
			
			// 삭제 버튼 -> 수정취소 버튼으로
			$(obj).next().text("수정취소");
			$(obj).next().attr("onclick", "modifyCancel(this, "+bookCommentNo+", "+bookNo+");");
			
			// 답글달기 버튼이 보이는 경우 화면에서 안 보이도록 처리
			$(obj).parent().parent().next().next().next().children().children().eq(2).hide(); //display: none;
		}
		
		function modifyComplete(obj, bookCommentNo, bookNo){
			// 자바스크립트에서 from태그를 생성해서 전송하는 작업
			// 1.form태그 생성
			const form = $("<form>");
			// 1-1. form태그의 속성 설정
			form.attr("action", "/book/updateComment");
			form.attr("method", "post");
			form.hide();
			
			// 2.form태그 내부에 전송하고 싶은 데이터를 생성
			const bookCommentNoInput = $("<input>");
			bookCommentNoInput.attr("type", "text");
			bookCommentNoInput.attr("name", "bookCommentNo");
			bookCommentNoInput.val(bookCommentNo);
			
			const bookRefInput = $("<input type='text' name='bookRef'>");
			bookRefInput.val(bookNo);
			
			// 3.수정된 댓글이 입력되어있는 textarea(textarea를 감싼 div) 가져옴
			const bookCommentContent = $(obj).parent().parent().next().next().clone();
			
			// 4.form태그에 추가
			form.append(bookCommentNoInput).append(bookRefInput).append(bookCommentContent);
			
			// 5.만들어진 form태그를 현재 문서 내부에 포함
			$("body").append(form);
			
			// 6.form태그 submit
			form.submit();
		}
		
		function modifyCancel(obj, bookCommentNo, bookNo){
			// textarea 숨김
			$(obj).parent().parent().next().next().hide();
			// 기존 댓글 내용을 다시 보여줌
			$(obj).parent().parent().next().show();
			
			// 수정완료 -> 수정
			$(obj).prev().text("수정");
			$(obj).prev().attr("onclick", "modifyComment(this, "+bookCommentNo+", "+bookNo+");");
			
			// 수정취소 -> 삭제
			$(obj).text("삭제");
			$(obj).attr("onclick", "deleteComment(this, "+bookCommentNo+", "+bookNo+");");
			
			// 답글달기 버튼을 화면에 다시 보여줌
			$(obj).parent().parent().next().next().next().children().children().eq(2).show(); //display: block;
		}
		
		function deleteComment(obj, bookCommentNo, bookNo){
			if(confirm("댓글을 삭제하시겠습니까?")){
				location.href="/book/deleteComment?bookCommentNo="+bookCommentNo+"&bookRef="+bookNo;
			}
		}
		
		$(".recShow").on("click", function(){
			// 답글달기 버튼 중 클릭한 답글달기 버튼이 몇번째 버튼인지 조회
			const index = $(".recShow").index(this);
			if($(this).text() === "답글"){
				$(this).text("취소");
			}else{
				$(this).text("답글");
			}
			$(".inputRecommentBox").eq(index).toggle();
		});
	
		function likePush(obj, bookCommentNo){
			// 현재 상태를 구분 -> 지금 클릭한 행동이 좋아요를 누른건지/좋아요 취소를 누른건지 구분
			const currentText = $(obj).text();
			// thumb_up_off_alt   thumb_up_alt
			const isLike = (currentText == "thumb_up_off_alt")?0:1;
			console.log(isLike);
			$.ajax({
				url : "/book/likePush",
				type : "post",
				data : {bookCommentNo : bookCommentNo, isLike : isLike},
				success : function(data){
					if(data == -10){
						swal({
							title : "로그인 필요",
							text : "로그인 후 이용해주세요.",
							icon : "info"
						});
					}else if(data == -1){
						swal({
							title : "데이터 처리 오류",
							text : "잠시 후 다시 시도해주세요.",
							icon : "warning"
						});
					}else{
						// 아이콘 변경
						if(isLike == 0){
							$(obj).text("thumb_up_alt");
						}else{
							$(obj).text("thumb_up_off_alt");
						}
						// 현재 좋아요 갯수 변경
						$(obj).nextAll().last().text(data);
					}
				},
				error : function(){
					console.log(error);
				}
			});
		}
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>