<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>
<style>
	.page-title{
		font-size: xx-large;
		font-weight: bold;
		text-align: center;
		margin-top: 100px;
		margin-bottom: 50px;
	}
	.select{
		display:inline-block;
		float: right;
	}
	.list-header{
		width: 100%;
		float: right;
	}
	.inputsubmit{
		float: right;
	}
	.input-item{
		width: 100%;
	}
	.tbl{
		width: 100%;
		margin-top: 50px;
	}
	#searchFrm{
		width: 50%;
		float: right;
		
	}
	#searchFrm>*{
	}
	.selection{
		display: inline-block;
	}
	select{
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section board-list-wrap">
			<div class="page-title">자유게시판</div>
			<div class="list-header">
				<a class="btn" id="write-btn" href="/board/writeFrm">글쓰기</a>
				<form action="/board/search" method="get" id="searchFrm">
					<div class="input-item">	
						<div class="selection">
							<select name="type">
								<th:block th:if="${type=='title' || type==null}">
									<option value="title" selected>제목</option>
									<option value="writer">작성자</option>
									<option value="titleContent">제목 및 내용</option>
									<option value="content">내용</option>
								</th:block>
								<th:block th:if="${type=='writer'}">
									<option value="title">제목</option>
									<option value="writer" selected>작성자</option>
									<option value="titleContent">제목 및 내용</option>
									<option value="content">내용</option>
								</th:block>
								<th:block th:if="${type=='titleContent'}">
									<option value="title">제목</option>
									<option value="writer">작성자</option>
									<option value="titleContent" selected>제목 및 내용</option>
									<option value="content">내용</option>
								</th:block>
								<th:block th:if="${type=='content'}">
									<option value="title">제목</option>
									<option value="writer">작성자</option>
									<option value="titleContent">제목 및 내용</option>
									<option value="content" selected>내용</option>
								</th:block>
							</select>
						</div>
						<div class="inputsubmit">
							<input type="text" name="keyword">
							<input type="hidden" name="reqPage" value="1">
							<button type="submit" class="btn">조회</button>
						</div>
					</div>
				</form>
			</div>
			<div>
				<table class="tbl">
					<tr>
						<th style="width:10%;">글번호</th>
						<th style="width:45%;">제목</th>
						<th style="width:15%;">작성자</th>
						<th style="width:20%;">작성일</th>
						<th style="width:10%;">조회수</th>
					</tr>
					<tr th:each="board : ${list}">
						<td th:text="${board.boardNo}"></td>
						<td><a th:href="@{/board/view(boardNo=${board.boardNo})}" th:text="${board.boardTitle}"></a></td>
						<td th:text="${board.memberId}"></td>
						<td th:text="${board.regDate}"></td>
						<td th:text="${board.readCount}"></td>
					</tr>
				</table>
			</div>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>