<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>
<style>
.page-title {
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	color: #74512D;
}

.board-view-wrap {
	width: 1200px;
	margin: 0 auto
}

.boardContent {
	min-height: 300px;
}

th, td {
	border: 1px solid #74512D;
	padding: 10px;
}

td {
	background-color: #F8F4E1;
}

th {
	background-color: #AF8F6F;
}

.tbl {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: transparent;
	margin-bottom: 100px;
	border: #74512D solid;
	box-sizing: border-box;
	overflow: hidden;
}

.boardContent {
	background-color: #F8F4E1;
	padding: none;
	width: 100%;
	border: none;
}

.left {
	padding: 0;
	width: 1005%;
}

#update {
	background-color: #AF8F6F
}

#delete {
	background-color: #AF8F6F;
}

#hide {
	text-align: center;
}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section board-view-wrap">
			<div class="page-title">게시물 상세보기</div>
			<table class="tbl board-view">
				<tr>
					<th colspan="6" th:text="${b.boardTitle}"></th>
				</tr>
				<tr>
					<th style="width: 20%;">작성자</th>
					<td style="width: 20%;" th:text="${b.boardWriter}"></td>
					<th style="width: 15%;">작성일</th>
					<td style="width: 15%;" th:text="${b.regDate}"></td>
					<th style="width: 15%;">조회수</th>
					<td style="width: 15%;" th:text="${b.readCount}"></td>
				</tr>
				<tr>
					<th>첨부파일</th>
					<td colspan="5"><th:block th:each="file : ${b.fileList}">
							<img src="/image/file.png" width="16px">
							<a
								th:href="@{/board/filedown(filename=${file.filename},filepath=${file.filepath})}"
								th:text="${file.filename}"></a>
						</th:block></td>
				</tr>
				<tr>
					<td class="left" colspan="6">
						<div class="boardContent left" th:utext="${b.boardContent}"></div>
					</td>
				</tr>
				<tr
					th:if="${session.member !=null && session.member.memberId == b.boardWriter}"
					id="hide">
					<td colspan="6"><a
						th:href="@{/board/updateFrm(boardNo=${b.boardNo})}" id="update"
						class="btn-primary">수정</a>
						<button class="btn-primary" id="delete"
							th:onclick="boardDelete([[${b.boardNo}]]);">삭제</button></td>
				</tr>
			</table>
			<div th:if="${session.member != null}" class="inputCommentBox">
				<form action="/board/insertComment" method="post">
					<ul>
						<li><span class="material-icons">account_box</span></li>
						<li><input type="hidden" name="boardCommentWriter"
							th:value="${session.member.memberId}"> <input
							type="hidden" name="boardRef" th:value="${b.boardNo}">
							<div class="input-item">
								<textarea name="boardCommentContent"></textarea>
							</div></li>
						<li>
							<button type="submit" class="btn-primary">등록</button>
						</li>
					</ul>
				</form>
			</div>
			<div class="commentBox">
				<th:block th:each="bc : ${b.commentList}">
					<ul class="posting-comment">
						<li><span class="material-icons">account_box</span></li>
						<li>
							<p class="comment-info">
								<span th:text="${bc.boardCommentWriter}"></span> <span
									th:text="${bc.boardCommentDate}"></span> <span class="like-box">
									<span th:if="${bc.isLike == 1}" class="material-icons"
									th:onclick="likePush(this,[[${bc.boardCommentNo}]]);">favorite</span>
									<span th:if="${bc.isLike == 0}" class="material-icons"
									th:onclick="likePush(this,[[${bc.boardCommentNo}]]);">favorite_border</span>
									<span th:text="${bc.likeCount}"></span>
								</span>
							</p>
							<p class="comment-content" th:text="${bc.boardCommentContent}"></p>
							<div class="input-item" style="display: none;">
								<textarea name="boardCommentContent"
									th:text="${bc.boardCommentContent}"></textarea>
							</div>
							<p class="comment-link">
								<th:block th:if="${session.member != null}">
									<th:block
										th:if="${session.member.memberId == bc.boardCommentWriter}">
										<a href="javascript:void(0)"
											th:onclick="modifyComment(this,[[${bc.boardCommentNo}]],[[${b.boardNo}]]);">수정</a>
										<a href="javascript:void(0)"
											th:onclick="deleteComment(this,[[${bc.boardCommentNo}]],[[${b.boardNo}]]);">삭제</a>
									</th:block>
									<a href="javascript:void(0)" class="recShow">답글달기</a>
								</th:block>
							</p>
						</li>
					</ul>
					<!-- 대댓글 작성 양식 -->
					<div th:if="${session.member != null}" class="">
						<form action="/board/insertComment" method="post">
							<ul>
								<li><span class="material-icons">subdirectory_arrow_right</span>
								</li>
								<li><input type="hidden" name="boardCommentWriter"
									th:value="${session.member.memberId}"> <input
									type="hidden" name="boardRef" th:value="${b.boardNo}">
									<input type="hidden" name="boardCommentRef"
									th:value="${bc.boardCommentNo}">
									<div class="input-item">
										<textarea name="boardCommentContent"></textarea>
									</div></li>
								<li>
									<button type="submit" class="btn-primary">등록</button>
								</li>
							</ul>
						</form>
					</div>
					<!-- 출력한 댓글의 대댓글 출력 -->
					<ul class="posting-comment reply"
						th:each="bcc : ${b.reCommentList}"
						th:if="${bc.boardCommentNo == bcc.boardCommentRef}">
						<li><span class="material-icons">subdirectory_arrow_right</span>
							<span class="material-icons">account_box</span></li>
						<li>
							<p class="comment-info">
								<span th:text="${bcc.boardCommentWriter}"></span> <span
									th:text="${bcc.boardCommentDate}"></span> <span
									class="like-box"> <span th:if="${bcc.isLike == 1}"
									class="material-icons"
									th:onclick="likePush(this,[[${bcc.boardCommentNo}]]);">favorite</span>
									<span th:if="${bcc.isLike == 0}" class="material-icons"
									th:onclick="likePush(this,[[${bcc.boardCommentNo}]]);">favorite_border</span>
									<span th:text="${bcc.likeCount}">0</span>
								</span>
							</p>
							<p class="comment-content" th:text="${bcc.boardCommentContent}"></p>
							<div class="input-item" style="display: none;">
								<textarea name="boardCommentContent"
									th:text="${bcc.boardCommentContent}"></textarea>
							</div>
							<p class="comment-link">
								<th:block
									th:if="${session.member != null && session.member.memberId == bcc.boardCommentWriter}">
									<a href="javascript:void(0)"
										th:onclick="modifyComment(this,[[${bcc.boardCommentNo}]],[[${b.boardNo}]]);">수정</a>
									<a href="javascript:void(0)"
										th:onclick="deleteComment(this,[[${bcc.boardCommentNo}]],[[${b.boardNo}]]);">삭제</a>
								</th:block>
							</p>
						</li>
					</ul>
				</th:block>
			</div>
		</section>
	</main>
	<script>
		function modifyComment(obj, boardCommentNo, boardNo) {
			$(obj).parent().prev().show();
			$(obj).parent().prev().prev().hide();
			$(obj).text("수정 완료");
			$(obj).attr(
					"onclick",
					"modifyComplete(this," + boardCommentNo + "," + boardNo
							+ ");");
			$(obj).next().text("수정 취소");
			$(obj).next().attr(
					"onclick",
					"modifyCancel(this," + baordCommentNo + "," + boardNo
							+ ");");
			$(obj).next().next().hide();
		}
		function modifyComplete(obj, boardCommentNo, boardNo) {
			const form = $("<form>");
			form.attr("action", "/board/updateComment");
			form.attr("method", "post");
			form.hide();
			const boardCommentNoInput = $("<input>");
			boardCommentNoInput.attr("type", "text");
			boardCommentNoInput.attr("name", "boardCommentNo");
			boardCommentNoInput.val(boardCommentNo);
			const boardRefInput = $("<input type='text' name='boardRef'>");
			boardRefInput.val(boardNo);
			const boardCommentContent = $(obj).parent().prev().clone();
			form.append(boardCommentNoInput).append(boardRefInput).append(
					boardCommentContent);
			$("body").append(form);
			form.submit();
		}
		function modifyCancel(obj, boardCommentNo, boardNo) {
			$(obj).parent().prev().hide();
			$(obj).parent().prev().prev().show();
			$(obj).prev().text("수정");
			$(obj).prev().attr(
					"onclick",
					"modifyComment(this," + boardCommentNo + "," + boardNo
							+ ");");
			$(obj).text("삭제");
			$(obj).attr(
					"onclick",
					"deleteComment(this," + boardCommentNo + "," + boardNo
							+ ");")
			$(obj).next().show();
		}
		function deleteComment(obj, boardCommentNo, boardNo) {
			if (confirm("댓글을 삭제하시겠습니까?")) {
				location.href = "/board/deleteComment?boardCommentNo="
						+ boardCommentNo + "&boardRef=" + boardNo;
			}
		}

		$(".recShow").on("click", function() {
			//답글달기 버튼 중 클릭한 답글달기 버튼이 몇번째 버튼인지 조회
			const index = $(".recShow").index(this);
			if ($(this).text() === "답글달기") {
				$(this).text("취소");
			} else {
				$(this).text("답글달기");
			}
			$(".inputRecommentBox").eq(index).toggle();
		});

		function noticeDelete(noticeNo) {
			swal({
				title : "게시글 삭제",
				text : "게시글을 삭제하시겠습니까",
				icon : "warning",
				buttons : {
					cancel : {
						text : "취소",
						value : false,
						visible : true,
						className : "btn-secondary",
						closeModal : true
					},
					confirm : {
						text : "삭제",
						value : true,
						visible : true,
						className : "btn-point",
						closeModal : true
					}
				}
			}).then(function(isConfirm) {
				if (isConfirm) {
					location.href = "/board/delete?boardNo=" + boardNo;
				}
			});
		}
		function likePush(obj, noticeCommentNo) {
			//현재 상태를 구분 -> 지금 클릭한 행동이 좋아요를 누른건지/좋아요 취소를 누른건지 구분
			const currentText = $(obj).text();
			//favorite_border   favorite
			const isLike = (currentText == "favorite_border") ? 0 : 1;
			console.log(isLike);
			$.ajax({
				url : "/notice/likePush",
				data : {
					noticeCommentNo : noticeCommentNo,
					isLike : isLike
				},
				type : "post",
				success : function(data) {
					if (data == -10) {
						swal({
							title : "로그인 필요",
							text : "로그인 후 이용해 주세요",
							icon : "info"
						});
					} else if (data == -1) {
						swal({
							title : "데이터 처리 오류",
							text : "잠시후 다시 시도해 주세요",
							icon : "warning"
						});
					} else {
						//아이콘 변경
						if (isLike == 0) {
							$(obj).text("favorite");
						} else {
							$(obj).text("favorite_border")
						}
						//현재 좋아요 갯수 변경
						$(obj).nextAll().last().text(data);
					}
				},
				error : function() {
					console.log(error);
				}
			});
		}
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>