<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="/js/jquery-3.7.1.js"></script>
<title>장바구니</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
	rel="stylesheet">
<style>
.content {
	text-align: center;
}

.tbl {
	width: 900px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.tbl tr:nth-child(1) {
	border-bottom: 2px solid black;
}

.tbl tr:nth-child(2) {
	border-bottom: 1px solid black;
}

.tbl2 {
	width: 900px;
	text-align: left;
	margin: auto;
}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">

		<form action="" method="post">
			<div style="margin-top: 60px;">
				<h1>장바구니</h1>
			</div>
			<table style="border-collapse: collapse;" class="tbl">
				<tr style="height: 50px;">
					<th style="width: 3%"><span class="material-icons-outlined">check_circle</span></th>
					<th style="width: 20%" colspan="2">책정보</th>
					<th style="width: 20%">수량</th>
					<th style="width: 20%">가격</th>
					<th style="width: 20%">선택</th>
				</tr>


				<tr th:each="c,status : ${list}" id="tr">
					<td>
						<input type="checkbox" class="chk" id="chk">
					</td>
					
					
					
					<td>
					<img style="width: 200px;" id="previewImg"
            			 th:src="@{/book/{filename}(filename=${c.bookImg})}" alt="책 표지">
					</td>
					
					
					
					<td th:text="${c.bookName}"></td>
					
					
					
					<td><span>
							<button onclick="minus(this);">-</button>
							<input type="text" id="count" value="1" style="width: 20px; text-align: center;">
							<button onclick="plus(this);">+</button>
					</span></td>
					
					
					
					<td th:text="${c.bookPrice}"></td>
					<td>
						<button>바로구매</button>
					</td>
				</tr>
				<tr>
					<td colspan="5" style="text-align: left; padding: 10px;">
						<button type="button" class="btn-type1 btn" id="selDel">선택 삭제</button>
					</td>
				</tr>
			</table>
			<table class="tbl2">
				<tr>
					<td rowspan="5" style="text-align: left; vertical-align: top;">
						<h2>총 주문 금액</h2>
					</td>
				</tr>
				<tr>
					<td>주문상품 수</td>
					<td style="width: 200px;"></td>
				</tr>
				<tr>
					<td>주문 금액</td>
					<td></td>
				</tr>
				<tr>
					<td>배송비</td>
					<td></td>
				</tr>
				<tr>
					<td>최종결제금액</td>
					<td></td>
				</tr>
			</table>
			<span class="btn-type2 btn" style="margin-right: 5px"> <a
				href="/">쇼핑하러 가기</a>
			</span> <input type="submit" class="btn-type3 btn" value="선택상품 구매">
			<input type="submit" class="btn-type4 btn" value="전체상품 구매">
		</form>

		<div class="clear"></div>
	</main>
	<script>
		function minus(button) {
			event.preventDefault(); // 이벤트가 발생했을 때 기본 동작을 막음(폼 제출, 링크 클릭, 버튼 클릭 등 브라우저의 기본 동작을 방지)
			const input = button.parentElement.querySelector("#count");
			const currentCount = input.value;//value속성으로 읽어오면 문자열타입
			if (currentCount == 1) {
				alert("최소 주문 수량은 1개 입니다.");
			} else {
				input.value = Number(currentCount) - 1;
			}
		}

		function plus(button) {
			event.preventDefault(); // 폼 제출 방지
			const input = button.parentElement.querySelector("#count");
			
			const currentCount = input.value;//value속성으로 읽어오면 문자열타입
			if (currentCount == 10) {
				alert("최대 주문 수량은 10개 입니다.");
			} else {
				input.value = Number(currentCount) + 1;
			}
		}
		
		$("#selDel").on("click",function(){
			const checked = $(".chk:checked");
			
			if(checked.length == 0 ){
				return;
			}
			
			const name = new Array(); //책 이름 저장할 배열
			
			checked.each(function(index, item){
				const bookName = $(item).parent().next().next().text();
				console.log(bookName);
				name.push(bookName);
				
				console.log(bookName);
			});
			
			//console.log(name);
			
			//화면 >> 컨트롤러 데이터 전송(배열형태 X 문자열로만 가능)
			location.href="/cart/selDel?name="+name.join("/");
			//join = 자바스크립트에 있는 배열 데이터를 String 타입으로 리턴
			
			
			console.log(checked.length);
		});
		
	</script>
	<th:block th:include="common/footer"></th:block>
</body>

</html>