<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="/js/jquery-3.7.1.js"></script>
<title>결제하기</title>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
	rel="stylesheet">
<style>

</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<div style="text-align:center; margin:200px;">
		<h1 style="margin:70px;">결제 완료되었습니다.</h1>
			<a href="/" class="btn-type3 btn">메인화면으로</a>
		</div>
		<div class="clear"></div>
	</main>
	<script>
		
	
	</script>
	<th:block th:include="common/footer"></th:block>
</body>

</html>