<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="/js/jquery-3.7.1.js"></script>
<title>결제하기</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
	rel="stylesheet">
<style>
.content {
	text-align: center;
}

.bookTbl {
	width: 900px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">

		<form action="" method="post">
			<div style="margin-top: 60px;">
				<h1>결제하기</h1>
			</div>
			<table style="border-collapse: collapse;" class="bookTbl">
				<tr style="height: 50px;">
					<th style="width: 20%" colspan="2">책정보</th>
					<th style="width: 20%">수량</th>
					<th style="width: 20%">가격</th>
				</tr>
				<tr th:each="c,status : ${list}" id="tr">
					<td><img style="width: 200px;" id="previewImg"
						th:src="@{/book/{filename}(filename=${c.bookImg})}" alt="책 표지">
					</td>
					<td th:text="${c.bookName}"></td>
					<td th:text="${c.bookCartCount}"></td>
					<td th:text="${c.bookPrice}"></td>
				</tr>
			</table>
			<h1 th:text="${totalPrice}"></h1>
		</form>

		<div class="clear"></div>
	</main>
	<script>
	
	</script>
	<th:block th:include="common/footer"></th:block>
</body>

</html>