@charset "UTF-8";
/*adminindex*/
/*
.nav{
    width: 100%;
    background-color: var(--color2);
}
.nav>div{
    padding-top: 13px;
    padding-bottom: 67px;
}
.nav .gnb>ul>li{
    float: left;
    padding: 15px;
}
*/
.main-header-wrap {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.header-main1 {
  width: 100%;
  background-color: var(--white);
}
.header-main1 > div {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-main1 > div > * {
  float: left;
}
/*사이드 창 */
.nav1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 450px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}
.nav1 > div {
  float: left;
}
.icons-menu {
  height: 100%;
  width: 60px;
  background-color: var(--color2);
}

.logo1 > a {
  font-family: "Tenada";
  font-size: 50px;
  color: black;
}
.admin-menu > ul > li > a {
  padding-left: 10px;
  font-family: "Tenada";
  font-size: 40px;
}
.nav1,
.content {
  float: left;
}
.content {
  width: 100%;
  padding-left: 450px;
}
.admin-meun {
  flex: 1;
}
.admin-meun > ul {
  display: flex;
  align-items: center;
}
.admin-menu > ul > li {
  padding-top: 15px;
}
.admin-menu .sub-menu {
  display: none;
  width: 250px;
  background-color: #fff;
  border: 1px solid var(--main2);
  border-radius: 5px;
  right: 15px;
  z-index: 1;
}
.sub-menu li a {
	font-size: 25px;
	
}

.sub-menu > li > a {
  color: var(--main2);
  padding: 10px;
  display: block;
}
.admin-menu > ul > li:hover > .sub-menu {
  display: block;
}
.admin-menu > ul > li > .sub-menu {
  transition: all 0.35s;
}
.admin-menu .sub-menu a {
  transition-duration: 10s;
}
.logo-box{
	width: 100% !important;
	padding:40px 0px 40px 10px;
}
.search{
	width: 70% !important;
	text-align: left !important;
}
.inner{
	margin:0px 225px 0px 125px !important;
	max-width: 1770px !important; 
}
.icons-menu li{
	font-size: 30px;
}
.arrow{
	padding: 50px 0px 45px 10px;
}
.icon1{
	padding :25px 0px 0px 12px;
}

.lnb ul li a{
	font-family: "Tenada";
	font-size: 20px;
}
/*판매점 리스트*/
.container{
	padding:50px 0px 30px 0;
	margin: 0 auto;
	width: 70%;
	height: 400px;
	background-color: var(--color1);
	
}
.page-title{
	text-align: center;
	font-family: "Tenada";
	font-size: 20px;
}
.box-shadow{
	width:50%;
	display:flex;
	background-color: var(--color3);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
	
}
