@charset "UTF-8";
/*adminHeader*/
/*
.nav{
    width: 100%;
    background-color: var(--color2);
}
.nav>div{
    padding-top: 13px;
    padding-bottom: 67px;
}
.nav .gnb>ul>li{
    float: left;
    padding: 15px;
}
*/
.main-header-wrap {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.header-main1 {
  width: 100%;
  background-color: var(--white);
}
.header-main1 > div {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-main1 > div > * {
  float: left;
}
.nav1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 450px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}
.nav1 > div {
  float: left;
}
.icons-menu {
  height: 100%;
  width: 60px;
  background-color: var(--color2);
}
.icons-menu li {
  padding-top: 20px;
}
.logo1 > a {
  font-family: "Tenada";
  font-size: 48px;
  color: black;
}
.admin-menu > ul > li > a {
  padding-left: 10px;
  font-family: "Tenada";
  font-size: 27px;
}
.nav1,
.content {
  float: left;
}
.content {
  width: 100%;
  padding-left: 450px;
}
.admin-meun {
  flex: 1;
}
.admin-meun > ul {
  display: flex;
  align-items: center;
}
.admin-menu > ul > li {
  padding-top: 15px;
}
.admin-menu .sub-menu {
  display: none;
  width: 130px;
  background-color: #fff;
  border: 1px solid var(--main2);
  border-radius: 5px;
  right: 15px;
  z-index: 1;
}

.sub-menu > li > a {
  color: var(--main2);
  padding: 10px;
  display: block;
}
.admin-menu > ul > li:hover > .sub-menu {
  display: block;
}
.admin-menu > ul > li > .sub-menu {
  transition: all 0.35s;
}
.admin-menu .sub-menu a {
  transition-duration: 10s;
}
.logo-box{
	width: 100% !important;
}
.search{
	width: 70% !important;
	text-align: left !important;
}