/* adminindex */
.nav1,
.wrap {
    float: left;
}

.wrap{
    width: 82%;
}

.main-header-wrap {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.header-main1 {
    width: 100%;
    background-color: var(--white);
}
.header-main1 > div {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-main1 > div > * {
    float: left;
}

/*사이드 창 */
.nav1 {
    /* position: fixed;
    top: 0;
    left: 0; */
    background-color: #fff;
    height: 1200px;
    width: 18%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}
.nav1 > div {
    float: left;
}
.logo1 {
	padding-top: 8px;
	padding-bottom: 5px;
} 
.logo1 > a {
    font-family: "Tenada";
    font-size: 28px;
    color: black;
}

.admin-menu > ul > li > a {
    /* padding-left: 10px; */
    font-family: "Tenada";
    font-size: 25px;
}
.admin-menu {
    padding-left: 10px;
    flex: 1;
}
/* .admin-menu > ul {
    display: flex;
    align-items: center;
} */
.admin-menu ul li:first-child{
    padding: 5px 0;
}
.admin-menu > ul > li {
    display: grid;
    align-items: center;
}
/*
.admin-menu .sub-menu {
    display: none;
}
.admin-menu > ul > li > .sub-menu {
    transition: all 0.35s;
}
.admin-menu .sub-menu a {
    transition-duration: 10s;
}
*/
.admin-menu > ul > li .sub-menu>li>a:hover{
   color: var(--color3);
}

.icons-menu {
    width: 50px;
    height: 100%;
    background-color: var(--color2);
}
.icons-menu ul{
    text-align: center;
}
.icons-menu ul li:first-child{
    padding: 5px 0;
    height: 50px;
}
.icons-menu ul li:first-child a i{
    font-size: 30px;
}
.icons-menu ul li{
    height: 40px;
    display: grid;
    align-items: center;
}
.icons-menu ul li a i{
    font-size: 20px;
}

.sub-menu li a {
    font-size: 30px;        
}

.sub-menu > li > a {
    color: var(--gray3);
    padding: 8px;
    display: block;
    font-size: 20px;
}
.logo-box{
    width: 18% !important;
    /* padding:40px 0px 40px 10px; */
}
.search{
    width: 70% !important;
    /* text-align: left !important; */
}
.inner{
    /* margin:0px 225px 0px 125px !important; */
    max-width: 1120px !important;
}
/* .icons-menu li{
    font-size: 30px;
} */
/* .arrow{
    padding: 50px 0px 45px 10px;
} */
/* .icon1{
    padding :25px 0px 0px 12px;
} */

.lnb ul li a{
    font-family: "Tenada";
    font-size: 20px;
}

.content{
    margin: 50px 0;
}

/*판매점 리스트*/
.container{
    /* padding:50px 0px 30px 0; */
    margin: 0 auto;
    width: 100%;
    /* height: 400px; */
}

.page-title{
    padding: 10px 0;
    font-family: "Tenada";
    display: flex;
    justify-content: center;
    font-size: 20px;
}

table{
	border: 3px solid var(--color3);
    width:100%;
	text-align: center;
}
table thead tr{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid black;
}
table thead tr th{
    background-color: var(--color2);
    
}
table tbody tr td{
	border: 1px solid var(--color2);
}
table tbody tr:nth-child(2n){
	background-color: var(--color1);	
}
.pagination{
	display:flex;
	justify-content: center;
	max-width: 100% !important;
	
}
