@charset "UTF-8";
:root{
    --color1: #F8F4E1;
    --color2: #AF8F6F;
    --color3: #74512d;
    --color4: #543310;
    --black: #1A1A1A;/* 기본 검정 글씨 */
    --white: #fff;
    --gray1: #777;
    --gray2: #eee;
    --gray3: #ddd;
}
input, textarea{
    outline: none;
}
.info-wrap, .book-detail-img, .comment{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    margin-top: 105px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.info-wrap>div{
    float: left;
    margin-right: 105px;
}
.info-wrap>div:last-child{
    margin-right: 0;
}
.book>ul>li{
    padding: 5px 0;
}
.info{
    width: 325px;
    margin-top: 40px;
}
.info>div{
    padding: 0 10px;
    text-align: left;
    align-content: center;
    /* height: 57px; */
    border-bottom: 1px solid var(--gray1);
    line-height: 57px;
}
/* .info>div.container{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.open-btn{
    width: 100%;
}
.btn i{
    color: var(--gray1);
    margin-right: 2px;
}

/* 재고 위치 모달팝업 */
.container{
	position: relative;
	margin:auto;
	/* width:100%;
	max-width: 1080px; */
	padding:30px 20px;
}
.dim-layer{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	background-color: rgba(26, 26, 26, 0.8);
	z-index: 1;
}
.open-btn{
    transition: all .35s;
	/* position: relative;
	padding:8px;
	background-color: #004fff;
	color: #fff;
	border:none;
	border-radius: 4px;
	cursor: pointer; */
}
.open-btn:hover{
    background-color: rgba(119, 119, 119, 0.7);
    color: var(--white);
}
.open-btn:hover i{
    color: var(--white);
}
.open-btn:active{
	top:1px;
}
.modal-container{
	position: fixed;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	z-index: 1;
}
.modal-container.active{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;

}
.modal{
	position: absolute;
	left: 50%;
	top: 56%;
	width: 1000px;
	transform: translate(-50%, -50%);
	background-color: var(--color2);
	border-radius: 16px;
	transition: 0.3s;
	overflow: hidden;
    z-index: 2;
}
.active .modal{
	top: 50%;
	transition: 0.3s;
}

.content{
	text-align: center;	
}
.text-wrap{
	text-align: center;
	padding:24px;
}
.text-wrap h2{
	font-size: 24px;
	line-height: 1.2;
	color: #fff;
	margin-bottom:12px;
}
.center_inventory{
    width: 100%;
    padding: 0 70px;
}
.text-wrap th{
    font-weight: 900;
    font-size: 18px;
}
.text-wrap th, .text-wrap td{
	color: var(--white);
}
.close-btn{
	position: absolute;
	right: 24px;
	top: 24px;
	border: none;
	background-color: rgb(116, 81, 45, 0.9);
	color: #fff;
	padding: 10px 16px;
	border-radius: 4px;
	display: inline-block;
}

.book-detail-img>img{
    width: 100%;
}

/* buy-info */
.buy-info{
    padding: 30px 0;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    border-top: 1px solid #E8E8E8;
}
.buy-info .inner {
    display: flex;
    justify-content: space-between;
    /* float: left; */
}

#price, #total{
    font-size: 24px;
    font-weight: 700;
}

.bottom-btnBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-btnBox>*{
    margin-right: 5px;
}
.countPM{
    padding: 9px 18px;
    margin-right: 5px;
}
.countPM>*{
    font-weight: 500;
    font-size: 18px;
    color: var(--gray1);
    border: none;
}
.countPM>button{
    width: 25px;
    background-color: transparent;
    cursor: pointer;
}
.countPM>input{
    text-align: center;
}

/* 댓글 입력 */
.comment{
    /* max-width: 1200px; */
    display: block;
    /* margin-top: 0;
    margin-bottom: 0; */
}
.comment-title{
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--gray3);
}
.comment-title>.right>button>i{
    color: var(--white);
}
select{
    width: auto !important;
    padding: 10px 40px 10px 16px !important;
}
.inputCommentBox{
    margin: 50px 0;
}
.inputRecommentBox{
	margin: 0 0 25px 0;
}
.inputCommentBox>form>ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.inputCommentBox>form>ul>li{
    float: left;
}
.inputCommentBox>form>ul>li:first-child{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputCommentBox>form>ul>li:nth-child(2){
    width: 75%;
}
.inputCommentBox>form>ul>li:nth-child(2)>div>textarea{
    font-size: 14px;
    height: 50px;
    min-height: 50px;
    transition: all .35s;
}
.inputCommentBox>form>ul>li:nth-child(2)>div>textarea:focus{
    border: 1px solid var(--gray1);
}
.inputCommentBox>form>ul>li:last-child{
    width: 10%;
}
.inputCommentBox>form>ul>li:last-child>button{
    width: 100%;
    height: 100%;
    transition: all .35s;
}

.inputCommentBox>form>ul>li:last-child>button:hover{
	opacity: 0.8;
}
.input-item {
    display: flex;
    gap: 10px;
}
.input-item > input {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid var(--gray5);
    padding: 8px 0px;
}
.input-item > textarea{
    padding: 15px;
    width: 100%;
    height: 156px;
    resize: none;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--gray2);
}

.user-icon{
    display: flex;
}
.user-icon>i{
    font-size: 80px;
    color: #ccc;
}
.commentBox .user-icon>i{
    font-size: 60px;
    color: #ccc;
}
/*.commentBox a:hover{
    text-decoration: none !important;
}*/
.commentBox .comment-icon{
    display: flex;
}
.commentBox .comment-icon>i{
    font-size: 50px;
    color: #ccc;
    transform: rotate(90deg);
}
.like-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.like-box>span:first-child{
    margin-right: 3px;
    color: var(--color2);
}
.like-box>span>i{
    color: var(--main4);
}

/* 댓글 출력 */
/* .commentBox{
    margin: 0 50px;
} */
.posting-comment{
    padding: 30px 35px;
    display: flex;
    border-top: 2px solid var(--gray3);
    list-style: none;
}
.posting-comment > li{
    box-sizing: border-box;
}
.posting-comment > li:last-child{
    display: flex;
    flex-direction: column;
    /* width: 85%; */
    width: 100%;
}
.posting-comment > li:first-child{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    /* border-right: 1px solid var(--gray3); */
}
.comment-info{
    width: 100%;
}
/* .comment-info>span{
    display: flex;
    justify-content: space-between;
} */
.comment-info-left{
    float: left;
}
.comment-info-right{
    float: right;
}
.posting-comment > li:last-child > p{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.posting-comment > li:last-child > .comment-info > span{
    padding: 0 10px;
}
/* .posting-comment > li:last-child > .comment-info > span:not(:last-child){
    border-right: 2px solid var(--gray3);
} */
.posting-comment > li:last-child > .comment-info > span{
    padding: 0 10px;
}
.posting-comment > li:last-child > .comment-content{
    padding: 0 15px;
    margin: 25px 0;
    text-align: left;
}
.commentBox .input-item>textarea{
    font-size: 14px;
    height: 50px;
    min-height: 50px;
}
.posting-comment > li:last-child > .comment-link{
    text-align: right;
}
.buyer{
    padding: 3px 10px !important;
    /* background-color: var(--white)!important; */
    border: 1px solid var(--gray1)!important;
    border-radius: 25px !important;
    /* color: var(--gray1)!important; */
}
.likeCount{
	margin-top: 4px;
    margin-right: 12px;
    color: var(--color2);
}
.reComment-btn{
	color: var(--gray1);
}