<!DOCTYPE html>
<html lang="ko">
<head>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/admin.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<script src="/js/jquery-3.7.1.js"></script>
<script src="/js/sweetalert.min.js"></script>
<style>
	.content{
	padding-top:100px;
		height: 600px!important;
	}
</style>
</head>
<body>
<!-- <th:block th:if="${session.admin.adminType}==1">
    <div class="nav1">
  
        <div class="icons-menu">
            <ul>
                <li class="arrow">
                    <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                </li>
                <li class="icon1">
                    <a href="/admin/adminIndex?rePage=1"><i class="fa-solid fa-house"></i></a>
                </li>
                <li class="icon1">
                    <a href="/admin/bookListFrm?rePage=1"><i class="fa-solid fa-book-open"></i></a>
                </li>
                <li class="icon1">
                    <a href="#"><i class="fa-solid fa-circle-user"></i></a>
                </li>
                <li class="icon1">
                    <a href="#"><i class="fa-brands fa-android"></i></a>
                </li>
            </ul>
        </div>
        <div class="admin-menu">
        <ul>
            <li>
                <h1 class="logo1">
                    <a href="/admin/adminIndex?rePage=1">책키라웃 관리자</a>
                </h1>
            </li>
            <li>
            <a href="/admin/adminIndex?rePage=1">판매점 관리</a>
            <ul class="sub-menu">
                <li><a href="/admin/adminIndex?rePage=1">판매점 리스트</a></li>
                <li><a href="/admin/insertAdminFrm">판매점 등록</a></li>
                <li><a href="/admin/updatePwFrm">비밀번호 변경</a></li>
            </ul>
            </li>
            <li>
            <a href="#">책 관리</a>
            <ul class="sub-menu">
                <li><a href="/admin/bookListFrm?rePage=1">책 리스트</a></li>
                <li><a href="/admin/insertBookFrm">책 등록</a></li>
            </ul>
            </li>
            <li>
            <a href="#">1대1 문의</a>
            </li>
            <li>
            <a href="#">챗봇</a>
            </li>
        </ul>
        </div>
    </div>
     </th:block> -->
     
    <div class="wrap" style="width: 100%!important;">
        <!-- 헤더 -->
        <div>
            <div class="main-header-wrap">
                <div class="header-main1">
                    <div class="inner">
                        <div class="search">
                            <ul>
            					<li>
                					<th:block th:if="${session.admin.adminType}==2">
                					<h1 class="logo1">
                    					<a href="/admin/adminIndex?rePage=1">책키라웃  가맹점</a></h1>
                    					</th:block>
                    					<th:block th:if="${session.admin.adminType}==1">
                					<h1 class="logo1">
                    					<a href="/admin/adminIndex?rePage=1">책키라웃  총관리자</a></h1>
                    					</th:block>
           						 </li>
                        	</ul>
                        </div>
                        <div class="lnb">
                            <ul>
                            	<th:block th:if="${session.admin.adminType}==1">
					            <li>
					            <a href="/admin/questionAnswer?reqPage=1">1대1 문의</a>
					            </li>
					            <li>
					            <a href="/FAQ/faqfrm?type=1&reqPage=1">FAQ</a>
					            </li>
					            <li>
					            <a href="/notice/noticeFrm?reqPage=1">공지사항</a>
					            </li>
       						    </th:block>
	                            <li>
	                                <a href="/admin/adminIndex?rePage=1">판매점</a>
	                            </li>
	                            <li>
	                            	<a href="/admin/bookListFrm?rePage=1">책리스트</a>
	                            </li>
	                            <li>
	                                <a href="/admin/logout">로그아웃</a>
	                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ></div>
            <!-- 헤더 -->
        </div>
        <!-- 컨텐츠 영역 -->
        <div class="content">
            <div class="inner">
                <div class="container">
                    <div class="page-title">
                        <h1>판매점</h1>
                    </div>
                    <form action="">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%">
                                	<label></label>
                                	<input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                                </th>
              					<th style="width: 6%">매장번호</th>
              					<th style="width: 10%">매장명</th>
              					<th style="width: 25%">매장주소</th>
              					<th style="width: 8%">개업일</th>
              					<th style="width: 15%">이메일</th>
              					<th style="width: 13%">전화번호</th>
              					<th style="width: 10%">관리</th>
                            </tr>
                        </thead>
                        <tbody>
                        <th:block th:if="${session.admin.adminType}==1">                   
                            <tr th:each="admin :${list}"><!-- -->   
                                <td>
                                    <input type="checkbox" name="chk[]" value="1">
                                </td>
                                <td th:text="${admin.adminNo}"></td>
                                <td th:text="${admin.adminName}"></td>
                                <td th:text="${admin.adminAddr}"></td>
                                <td th:text="${admin.openingDay}"></td>
                                <td th:text="${admin.adminEmail}"></td>
                                <td th:text="${admin.adminPhone}"></td>
                                 <td><a href="/admin/order?reqPage=1">발주관리</a></td>
                               
                            </tr>
                            </th:block>
                            <th:block th:if="${session.admin.adminType}==2">                   
                            <tr th:each="admin :${list}"><!-- -->   
                                <td>
                                    <input type="checkbox" name="chk[]" value="1">
                                </td>
                                <td th:text="${admin.adminNo}"></td>
                                <td th:text="${admin.adminName}"></td>
                                <td th:text="${admin.adminAddr}"></td>
                                <td th:text="${admin.openingDay}"></td>
                                <td th:text="${admin.adminEmail}"></td>
                                <td th:text="${admin.adminPhone}"></td>
                                <td><a href="/admin/admin2BookList?reqPage=1">책 재고관리</a></td>
                            </tr>
                            </th:block>
                        </tbody>
                    </table>
                   </form>
                </div>
            </div>
       <th:block th:if="${session.admin.adminType}==1">
		<div id="pageNavi" th:utext="${pageNavi}">
	  	</div>
	  	 </th:block>
		
		<!--페이지 넘기는 부분 종료 -->
        </div>
        <!-- footer 시작  헤더 풋더 다 끌어와서 쓰면 됨 -->
        <div>
            <div class="main-footer-wrap">
                <div class="copyright">
                    <div class="inner">
                    <h4>COPYRIGHT &copy;책키라웃 ALL RIGHTS RESERVED.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 끝 -->

        <div id="scroll-btn">
            <button id="top-btn">
                <i style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" class="fa-solid fa-angles-up fa-bounce" ></i>
            </button>
        </div>
    </div>
    <script>
 
    </script>
</body>
</html>