<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- Swiper -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    
    <main class="content">
        <div class="main-visual-wrap">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="image/visual_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="image/visual_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="image/visual_3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="pagination">
            <ul>
                <!-- <li><a class="page-item" href="#"><span><i class="fa-solid fa-angles-left"></i></span></a></li> -->
                <li><a class="page-item page-btn" href="#"><span><i class="fa-solid fa-angle-left"></i></span></a></li>
                <li><a class="page-item active-page" href="#">1</a></li>
                <li><a class="page-item" href="#">2</a></li>
                <li><a class="page-item" href="#">3</a></li>
                <li><a class="page-item" href="#">4</a></li>
                <li><a class="page-item" href="#">5</a></li>
                <li><a class="page-item" href="#">6</a></li>
                <li><a class="page-item" href="#">7</a></li>
                <li><a class="page-item" href="#">8</a></li>
                <li><a class="page-item" href="#">9</a></li>
                <li><a class="page-item" href="#">10</a></li>
                <li><a class="page-item page-btn" href="#"><span><i class="fa-solid fa-angle-right"></i></span></a></li>
                <!-- <li><a class="page-item" href="#"><span><i class="fa-solid fa-angles-right"></i></span></a></li> -->
            </ul>
        </div>
        
        <div class="clear"></div>
        
        <div class="btnBox">
            <button class="btn-type1 btn">버튼1</button>
            <button class="btn-type2 btn">버튼2</button>
            <button class="btn-type3 btn">버튼3</button>
            <button class="btn-type4 btn">버튼4</button>
        </div>
        
        <div class="clear"></div>

        <div class="select">
            <select>
                <option>옵션1</option>
                <option>옵션2</option>
                <option>옵션3</option>
            </select>
        </div>
    </main>
    
	<th:block th:include="common/footer"></th:block>
</body>
</html>