<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- Swiper -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<style>
	.main-second-wrap>div:first-child{
		width: 1200px;
		margin : 0 auto;
		margin-top : 50px;
	}
 	.main-second-wrap>div>div{
		width: 1200px;
		margin : 50px auto;
	}

 	.second>.swiper-slide>a>img{
 		width: 300px;
 		
 	}
 </style>
<body>
	<th:block th:include="common/header"></th:block>
    
    <main class="content">
        <div class="main-visual-wrap">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="image/visual_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="image/visual_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img src="image/visual_3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <!-- 조회 순   -->
        <div class="main-second-wrap">
	        <div>
	        	<h2>급상승! 많이 보고 있는 상품!</h2>
	        </div>
	        <div class="main-visual-wrap">
	            <div class="swiper2">
	                <!-- Additional required wrapper -->
	                <div class="swiper-wrapper second">
	                    <!-- Slides -->
	                    <th:block th:each="b : ${bList}">
	                    <div class="swiper-slide">
			                  <a href="javascript:void(0)">
			                       <img th:src="@{/book/{filename}(filename=${b.bookImg})}" alt="">
			                  </a>
	                    </div>
	                    </th:block>
	                    
	                </div>
	                <!-- If we need pagination -->
	                <div class="swiper2-pagination"></div>
	
	                <!-- If we need navigation buttons -->
	                <div class="swiper2-button-prev"></div>
	                <div class="swiper2-button-next"></div>
	            </div>
	        </div>
        </div>
        
        
    </main>
    
    <script src="js/swiper.js"></script>
    <script src="js/swiper2.js"></script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>